{% with unused=view_objects.status__prizes.unused errors=view_objects.status__prizes.errors raffle_prizes=view_objects.status__prizes.raffle_prizes %} 

<!--start test-->  
  <div class="content-box">
  <div class="content-box-title">
    Raffle Prizes
  </div>
  <ul id="prize-tab" class="nav nav-tabs">
  {% for round_name, raffle_prizes in raffle_prizes.items %}
    <li class="">
    <a data-toggle="tab" href="#prize{{round_name|cut:" "}}">{{round_name }}</a>
    </li>
  {% endfor %}  
  </ul>
  <div class="tab-content">
    {% for round_name, raffle_prizes in raffle_prizes.items %}
      <div id="prize{{round_name|cut:" "}}" class="tab-pane fade active in">   
              <div class="content-body">
                  <table class="table-striped">
                      <thead>
                          <tr>
                              <th>Prize</th>
                              <th>Tickets</th>
                              <th>Winner</th>
                          </tr>
                      </thead>
                      {% for prize in raffle_prizes %}
                          <tr>
                              <td>{{ prize.title }}</td>
                              <td>{{ prize.raffleticket_set.count }}</td>
                              <td>
                                  {% if prize.winner %}
                                      {{ prize.winner.get_profile.name }}
                                  {% else %}
                                      N/A
                                  {% endif %}
                              </td>
                          </tr>
                      {% endfor %}
                  </table>
              </div>
          </div> 
      {% endfor %}
  </div> 
  </div> 
<script type="text/javascript">
$('#prize-tab.nav-tabs a:first').tab('show');
</script> 
<!--end test-->  
{% endwith %}
