{% with unused=view_objects.status__prizes.unused errors=view_objects.status__prizes.errors raffle_prizes=view_objects.status__prizes.raffle_prizes %} 
<div class="span4">
    <div class="content-box">
        <div class="content-box-title">
            Unused Tickets
        </div>
        <div class="content-body"
             style='font-weight: bold;{% if pending_members > 50 %}color: red{% endif %}'>
            <center>There are {{ unused }} tickets that have not been allocated.<br/></center>
            {% if has_errors %}
                <div style='color: red; font-weight: bold'>
                    The following users have more tickets than points
                    <ul>
                        {% for profile in errors %}
                            <li>{{ profile.name }} ({{ profile.user.username }})</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% for raffle_prize in raffle_prizes %}
    <div class="span4">
        <div class="content-box">
            <div class="content-box-title">
                {{ raffle_prize.round_name.round_name }} Raffle Prizes
            </div>
            <div class="content-body">
                <table>
                    <tr>
                        <th>Prize</th>
                        <th>Tickets</th>
                        <th>Winner</th>
                    </tr>
                    {% for prize in raffle_prize.round_name.prizes %}
                        <tr>
                            <td>{{ prize.title }}</td>
                            <td>{{ prize.raffleticket_set.count }}</td>
                            <td>
                                {% if prize.winner %}
                                    {{ prize.winner.get_profile.name }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endfor %}
<br style="clear: both"/>  
{% endwith %}
