#canopy-about{padding:5px 10px;}
.canopy-viz-list li{display:inline;margin:0 10px;padding:5px;padding-left:10px;}
.canopy-viz-list li.selected a{text-decoration:none;}
.canopy-viz-list li h3{display:inline;}
.canopy-member-list li{float:left;width:20%;margin:0;padding:0;text-align:center;min-height:80px;}
.canopy-member-list li img{padding:2px;}
.wallpost-content{padding:5px 10px;}
#wall-post textarea{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;width:92%;margin-left:4%;}
.padded{margin-left:5%;}
#wall-posts{list-style:none;margin:0;}
#wall-posts li{margin:0;padding:5px 0;border-top:1px outset gray;}
#wall-posts li .row{margin-left:0;}
#wall-posts .wallpost-image{margin-left:0;margin-right:10px;}
#wall-posts .wallpost-text{margin-left:0;}
.wallpost-username{font-weight:bold;}
.wallpost-posted{font-style:italic;font-size:0.9em;}
@media (max-width:767px){#wall-posts .wallpost-image{float:left;display:inline;}}
