@charset "UTF-8";
fieldset legend{font-weight:bold;text-align:center;padding:25px 0 0 0;}
.energy-power-box{padding:5px;margin-right:1em;}
#energy-power-goal-updated{font-size:8pt;}
#energy-power-gauge-label,#energy-power-gauge-table-goal,#energy-power-gauge-table-actual,#energy-power-goal-info{font-weight:bold;}
td#energy-status-how-calculator-content{vertical-align:text-top;padding-right:20px;width:50%;}
td#energy-status-how-activities-content{vertical-align:text-top;}
#energy-status-how-table,#energy-status-how-activities-content,#energy-status-how-activities-table{width:100%;}
#energy-status-how-activities-table{border-collapse:collapse;margin-top:.5em;}
#energy-status-how-activities-table th{text-align:left;padding-left:20px;}
#energy-status-how-activities-table td{padding:4px 4px 4px 20px;text-align:left;}
#news-wall-content{padding:5px 10px;}
#wall-post textarea{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;width:90%;}
#wall-posts{list-style:none;margin:0;}
#wall-posts li{margin:0;padding:5px 0;border-top:1px outset gray;}
#wall-posts li .row{margin-left:0;}
#wall-posts .wallpost-image{margin-left:0;margin-right:10px;}
#wall-posts .wallpost-text{margin-left:0;}
.wallpost-username{font-weight:bold;}
.wallpost-posted{font-style:italic;font-size:0.9em;}
@media (max-width:767px){#wall-posts .wallpost-image{float:left;display:inline;}}
