body{background:none;background-color:#BDCBDF;}
.container{width:auto;background:none;background-color:#BDCBDF;}
.content-box{text-align:center;}
table,.table{width:100%;}
table th,table td,.table td,.table th{padding:0px;text-align:center;}
.scoreboard .item{display:block inline;float:left;}
.scoreboard .item,.energy-score table{border-style:solid;border-width:1px;border-color:#000;margin-right:5px;}
@media (min-width:1130px){.scoreboard .item{width:24%;}}#round-1-resource-scoreboard tr:nth-child(odd),#energy-goals-scoreboard tr:nth-child(odd){background-color:#fff;}
@media (max-width:768px){.item{width:100%;}}
