@charset "UTF-8";

/********************** energy styles ******************************/
.status-tray {
	background: transparent url(/site_media/static/css/default/images/bkg-goal-tray.png) top center no-repeat;
	width: 470px;
	height: 95px;
	padding: 6px 30px 6px 30px;
	display: block;
	border: 0;
	margin: 0 auto 0 auto;
}

.status-tray img {
	float: left;
	width: 76px;
	height: 76px;
	display: block;
}

.status-tray font {
	float: right;
	height: 76px;
	width: 380px;
	display: block;
	padding-top: 25px;
}


fieldset {
	background: #dfdab1;
	border: 0;
	border-radius: 8px;
	moz-border-radius: 8px;
	webkit-border-radius: 8px;
	margin-top: -10px;
}

fieldset legend {
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	padding: 25px 0 0 0;
}

#energy-status {
	width: 595px;
}

#energy-status-content {
	padding: .5em .5em 0 .5em;
	}

#energy-smiley {
    font-size:200%;
    }
    
#energy-power-box {
	padding: 5px;
	
	margin-right: 1em;
}

#energy-power-goal-updated {
	font-size: 8pt;
}

#energy-power-gauge-label, #energy-power-gauge-table-goal, #energy-power-gauge-table-actual, #energy-power-goal-info {
	font-weight: bold;
}

#energy-status-progress-about a {
	color: #db9703;
}

td#energy-status-how-calculator-content {
    vertical-align: text-top;
    padding-right: 20px;
    width: 50%;
}

td#energy-status-how-activities-content {
    vertical-align: text-top;
}

#energy-status-how-activities-table {
	border-collapse: collapse;
	border: 1px solid #02ac0e;
	color: #000000;
	margin-top: .5em;
}

#energy-status-how-activities-table th {
	background: #cec99c;
	text-align: left;
	padding-left: 20px;
}

#energy-status-how-activities-table td {
	padding: 4px 4px 4px 20px;
	text-align: left;
}
