@charset "UTF-8";
/* CSS Document */

/********************** help styles ******************************/
.content-box {
	text-align: left;
}

.content-box-contents a {
	color: #db9703;
    text-align: center;
}

.content-box-contents ul {
	margin: 0 auto 0 auto;
	padding: 0 auto 0 auto;
}

#help-video .content-box{
    text-align: center;
}

#help-video-content .content-box-contents {
    text-align: center;
}

#help-rules-content, #help-faq-content {
	padding-top: 1em;
	padding-bottom: .7em;
	line-height: 15pt;
}

#help-faq, #help-ask {

}

#help-ask-content {
	padding: 1em;
}

#help-ask-form textarea {
	width: 97%;
	height: 50px;
}

#form-success {
  text-align: left;
}

/******* Help topic styles *******/

#help-topic-content {
  padding: 1em 1em 0.7em 1em;
	line-height: 15pt;
}
