@charset "UTF-8";
/* CSS Document */
 
.homecontent {
    margin-left: 7%;
}

.homecontent > ul { 
    margin-top: 20px;
    list-style: none;
    margin: 0px; 
} 

.homecontent > ul > li:nth-of-type(7) > .home-item {
    margin-left: 16%;
}

.homecontent > ul > li {
    list-style: none;
}

.tile > ul {
    list-style: none;
    margin-left: 0px;
}

.tile > ul > li {
    margin-bottom: 3px;
}

/********************** home styles ******************************/

.content p {
    font-size: 8pt;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    padding-left: 13px;
}

.content img {
    border: 0;
}

.tile > h6 { 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
}

.home-item { 
    width: 28%;
    height: 210px;
    display: block;
    padding-bottom: 2px;
    margin: 10px 10px 0px 10px;
    float: left;
}
 
.content .container-fluid {
    padding-left: 20;
    padding-right: 20;
}

.tile { /*     background: #E3E3E3; */
    height: 80px; 
    padding: 1px;
    background-color: rgba(255,255,255,.8);
    border: 3px outset #DDD; 
    border-radius: 8px;
    box-shadow: 3px 3px 5px #000;
    -moz-box-shadow: 3px 3px 5px #000;
    -webkit-box-shadow: 3px 3px 5px #000;
    /* Force tiles on top of icons.*/
    position: relative;
    z-index: 100;
}
 

#home-prizes {
    clear: left;
}

.home-item img {
    float: none;
}

.home-advanced-icon {
    background: transparent
        url(/site_media/static/images/icons/icon-advanced-lg.png) top
        left no-repeat;
    width: 120px;
    height: 124px;
}

.home-advanced-icon:hover {
    background: transparent
        url(/site_media/static/images/icons/icon-advanced-lg-over.png)
        top left no-repeat;
}

.home-energy-icon {
    background: transparent
        url(/site_media/static/images/icons/icon-go-low-lg.png) top left
        no-repeat;
    width: 120px;
    height: 124px;
}

.home-energy-icon:hover {
    background: transparent
        url(/site_media/static/images/icons/icon-go-low-lg-over.png) top
        left no-repeat;
}

.home-learn-icon {
    background: transparent
        url(/site_media/static/images/icons/icon-scoreboard-lg.png) top
        left no-repeat;
    width: 120px;
    height: 124px;
}

.home-learn-icon:hover {
    background: transparent
        url(/site_media/static/images/icons/icon-scoreboard-lg-over.png)
        top left no-repeat;
}

.home-news-icon {
    background: transparent
        url(/site_media/static/images/icons/icon-news-lg.png) top left
        no-repeat;
    width: 120px;
    height: 124px;
}

.home-news-icon:hover {
    background: transparent
        url(/site_media/static/images/icons/icon-news-lg-over.png) top
        left no-repeat;
}

.home-win-icon {
    background: transparent
        url(/site_media/static/images/icons/icon-prizes-lg.png) top left
        no-repeat;
    width: 120px;
    height: 124px;
}

.home-win-icon:hover {
    background: transparent
        url(/site_media/static/images/icons/icon-prizes-lg-over.png) top
        left no-repeat;
}

.home-help-icon {
    background: transparent
        url(/site_media/static/images/icons/icon-help-lg.png) top left
        no-repeat;
    width: 120px;
    height: 124px;
}

.home-help-icon:hover {
    background: transparent
        url(/site_media/static/images/icons/icon-help-lg-over.png) top
        left no-repeat;
}

.home-profile-icon {
    background: transparent
        url(/site_media/static/images/icons/icon-profile-lg.png) top
        left no-repeat;
    width: 120px;
    height: 124px;
}

.home-profile-icon:hover {
    background: transparent
        url(/site_media/static/images/icons/icon-profile-lg-over.png)
        top left no-repeat;
}

.home-water-icon {
    background: transparent
        url(/site_media/static/images/icons/icon-water-lg.png) top left
        no-repeat;
    width: 120px;
    height: 124px;
}

.home-water-icon:hover {
    background: transparent
        url(/site_media/static/images/icons/icon-water-lg-over.png) top
        left no-repeat;
}

/* Setup wizard styles */
#setup-dialog h2 {
    text-align: center;
}

#progressbar-header {
    text-align: center;
}

#progressbar-header p {
    margin: 5px 0;
}

#setup-welcome-info {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center
}

#setup-dialog {
    text-align: left;
}

#setup-dialog .ui-progressbar-value {
    background: none;
    background-color: #528EE3;
}

#profile-form ul {
    list-style: none;
    padding: 0;
    padding-bottom: 5px;
    margin: 5px 0;
}

#profile-form ul li {
    padding: 0;
    margin: 5px 0;
}

.setup-profile-help-text {
    font-style: italic;
    font-size: 0.8em;
    margin: 5px 0;
}

.setup-form-photo {
    float: left;
    width: 40%;
    padding-right: 5px
}

.setup-form-photo p {
    margin: 5px 0;
}

#profile-picture-facebook {
    margin-top: 10px;
}

#profile-picture-facebook p {
    margin: 0;
    margin-bottom: 10px;
}

#profile-form img {
    vertical-align: baseline;
}

#setup-content {
    margin-bottom: 10px;
}

#setup-terms-content {
    border: 1px solid black;
    height: 200px;
    overflow: auto;
    padding: 5px;
}

#setup-activity-form {
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px;
}

#setup-activity-form label {
    margin-bottom: 5px;
    display: block;
}

@media ( max-width : 639px) {
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    .home-item {
        width: none;
        height: 60px;
        display: block;
        padding-bottom: 2px;
        margin: 2px 2px 0px 2px;
        float: left;
    }
}

@media ( max-width : 639px) {
    .homecontent > ul > li:nth-of-type(7) > .home-item {
        margin-left: 0px;
    } 

    .homecontent {
        margin-left: 0px;
    }
    .tile {
        height: 20px;
        z-index: -100;
    }

    .tile ul {
        display: none; 
    }

    .home-item {
        margin-left: 0px;
        width: 49%;
        margin-bottom: 10px;
        height: 75px;
    } 
/*
    .home-item a > img {
        margin-left: -50%;
        margin-bottom: -45px; 
    }
*/  
    .home-advanced-icon {
        background: transparent
            url(/site_media/static/images/icons/icon-advanced.png) top
            left no-repeat;
        width: 54px;
        height: 56px;
    }
    .home-advanced-icon:hover {
        background: transparent
            url(/site_media/static/images/icons/icon-advanced-over.png)
            top left no-repeat;
    }
    .home-energy-icon {
        background: transparent
            url(/site_media/static/images/icons/icon-go-low.png) top
            left no-repeat;
        width: 54px;
        height: 56px;
    }
    .home-energy-icon:hover {
        background: transparent
            url(/site_media/static/images/icons/icon-go-low-over.png)
            top left no-repeat;
    }
    .home-learn-icon {
        background: transparent
            url(/site_media/static/images/icons/icon-scoreboard.png) top
            left no-repeat;
        width: 54px;
        height: 56px;
    }
    .home-learn-icon:hover {
        background: transparent
            url(/site_media/static/images/icons/icon-scoreboard-over.png)
            top left no-repeat;
    }
    .home-news-icon {
        background: transparent
            url(/site_media/static/images/icons/icon-news.png) top left
            no-repeat;
        width: 54px;
        height: 56px;
    }
    .home-news-icon:hover {
        background: transparent
            url(/site_media/static/images/icons/icon-news-over.png) top
            left no-repeat;
    }
    .home-win-icon {
        background: transparent
            url(/site_media/static/images/icons/icon-prizes.png) top
            left no-repeat;
        width: 54px;
        height: 56px;
    }
    .home-win-icon:hover {
        background: transparent
            url(/site_media/static/images/icons/icon-prizes-over.png)
            top left no-repeat;
    }
    .home-help-icon {
        background: transparent
            url(/site_media/static/images/icons/icon-help.png) top left
            no-repeat;
        width: 54px;
        height: 56px;
    }
    .home-help-icon:hover {
        background: transparent
            url(/site_media/static/images/icons/icon-help-over.png) top
            left no-repeat;
    }
    .home-profile-icon {
        background: transparent
            url(/site_media/static/images/icons/icon-profile.png) top
            left no-repeat;
        width: 54px;
        height: 56px;
    }
    .home-profile-icon:hover {
        background: transparent
            url(/site_media/static/images/icons/icon-profile-over.png)
            top left no-repeat;
    }
    .home-water-icon {
        background: transparent
            url(/site_media/static/images/icons/icon-water.png) top left
            no-repeat;
        width: 54px;
        height: 56px;
    }
    .home-water-icon:hover {
        background: transparent
            url(/site_media/static/images/icons/icon-water-over.png) top
            left no-repeat;
    }
}
