@charset "UTF-8";
/* CSS Document */

.container {
  width: 100%;
}

.content {
  box-shadow: none;
}
 
.row {
  margin-left: 0px;
}

.logo, .title-text {
	float: left;
}    

.logo-header-box {
  min-height: 115px;
  width: 60%;
  margin: 10px 20% 20px 20%; 
  display: block;
}  

@media ( max-width : 460px) {
  .logo-header-box {
    min-height: 115px;
    width: 100%;
    margin: 10px 0% 20px 0%; 
    display: block;
  } 
}



.logo-header-text { 
  display: block;
  padding-top: 20px; 
  padding-left: 5%;
  font-weight: bold; 
  font-size: 20pt;
  line-height: 28px;
  margin-left: 106px; 
  margin-right: 2.5%;
  text-align: center;
  width: 58%;
}
  

@media ( min-width : 1150px) {
  .logo-header-text { 
    display: block;
    padding-top: 40px; 
    padding-left: 5%;
    font-weight: bold; 
    font-size: 20pt;
    line-height: 28px;
    margin-left: 106px; 
    margin-right: 2.5%;
    text-align: center;
    width: 70%;
  }
}


@media ( max-width : 650px) {
  .logo-header-text {
    font-size: 15pt;
  }
} 

.logo {
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 113px;
  width: 106px;
  display: block;
}  

.landing-body {
  text-align: center;
  font-size: 12pt;
  padding: 15px;
  border-radius: 8px;
}



#landing-button-non-participant, #landing-button-participant {
	display: block;
	text-decoration: none;
	cursor: pointer;
	color: #000; 
  width: 40%; 
  min-width: 230px;
	height: 92px;
	margin: 0 auto 0 auto;
	border: 0;
	background: #E3E3E3 url(/site_media/static/css/default/images/bkg-landing-button.gif);
	padding: 0px 4px 10px 4px;
	border: 3px outset #DDD;
	margin-top: -.7em;
	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	box-shadow: 3px 3px 5px #000;
	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
} 

#landing-button-participant {
  margin-top: 10px;
}

.contact-link {
  text-align: center;
  font-size: 12pt;
  color: blue;
  text-decoration:underline;
  margin-bottom: 20px;
}

.landing-sponsors {
  padding: 5px;
  padding-top: 15px;
}

.landing-sponsors-list {
  padding: 5px;
}

li {
  margin-bottom: 10px;
}

.landing-sponsors-list img {
	border: 0;
}

.landing-sponsors-list p {
	clear: both;
	float: none;
	margin: 0;
	text-indent: 0;
	padding: 10px 0;
	display: block;
}

.landing-sponsors .landing-sponsors-list p a {
	clear: both;
	margin: 0;
	padding: 0;
	display: inline;
	float: none;
}
  
