@charset "UTF-8";
/* CSS Document */

.container {
  width: 100%;
}

.content {
  box-shadow: none;
}
 
.row {
  margin-left: 0px;
}

.logo, .title-text {
	float: left;
}    

.logo-branding { 
  margin-top: 8px;
  margin-right: 2%;
  display: block;
  float: right;
  height: 100px;
  width: 100px; 
}

@media (max-width : 500px) {
  .logo-branding { 
    display: none;
  }
}

.logo-header-box {
  margin-left: 5%;
  min-height: 115px;
  width: 90%;
  display: block;
}  

@media (max-width : 460px) {
  .logo-header-box {
    min-height: 115px;
    width: 100%;
    margin: 5px 0% 20px 0%; 
    display: block;
  } 
}



.logo-header-box.logo-header-text { 
  display: block;
  padding-top: 10%; 
  padding-left: 3%;
  width: 58%;
}

logo-header-text {
  margin-left: 16%;
} 

@media (max-width : 699px) {
  .logo-header-text {
    font-size: 15pt;
    width: 90%;
  }
}  
   
.logo-header-text p {  
  font-weight: bold; 
  font-size: 32pt;
  line-height: 32px; 
   padding-top: 40px;
}

@media (max-width : 1198px) {
  .logo-header-text p {
    padding-top: 25px;
  }
} 

@media (max-width : 960px) { 
  .logo-header-text p {   
    font-size: 24pt;
    line-height: 28px; 
    padding-top: 25px;
    }
}

@media (max-width : 683px) {
  .logo-header-text p {
    padding-top: 14px;
  }
} 

@media (max-width : 393px) {
  .logo-header-text p {
    padding-top: 0px;   
  }
}  

@media (max-width : 339px) {
  .logo-header-text p {
    padding-top: 0px;  
    font-size: 18pt;
  }
}  

.logo {
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 113px;
  width: 106px;
  display: block;
}  

.landing-body {
  text-align: center;
  font-size: 12pt;
  padding: 15px;
  border-radius: 8px;
}

#landing-button-participant {
  margin-top: 10px;
}
#landing-button-non-participant {
  margin-top: 15px;
}
 

#landing-button-non-participant, #landing-button-participant {
	display: block;
	text-decoration: none;
	cursor: pointer;
	color: #000; 
  width: 40%; 
  min-width: 230px;
	height: 92px;
	margin-left: auto;
  margin-right: auto;
	border: 0;
	background: #E3E3E3 url(/site_media/static/css/default/images/bkg-landing-button.gif);
	padding: 0px 4px 10px 4px;
	border: 3px outset #DDD; 
	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	box-shadow: 3px 3px 5px #000;
	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
} 


.contact-link {
  text-align: center;
  font-size: 12pt;
  color: blue;
  text-decoration:underline;
  margin-bottom: 20px;
}

.landing-sponsors {
  padding: 5px;
  padding-top: 15px;
}

.landing-sponsors-list {
  padding: 5px;
}

li {
  margin-bottom: 10px;
}

.landing-sponsors-list img {
	border: 0;
}

.landing-sponsors-list p {
	clear: both;
	float: none;
	margin: 0;
	text-indent: 0;
	padding: 10px 0;
	display: block;
}

.landing-sponsors .landing-sponsors-list p a {
	clear: both;
	margin: 0;
	padding: 0;
	display: inline;
	float: none;
}
 
  
