@charset "UTF-8";
/* CSS Document */

/********************** news styles ******************************/

th {
	background: #dbd7af;
	}

#news-members {
	margin-left: 5px;
}

#news-events-popular-activities {
	margin-right: 5px;
}

.content-box {	
	text-align: left;
}

.content-box table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	/*border-bottom: 1px solid #000;*/
}

.content-box th, .content-box td {
	padding: 4px;
}

.news-event-name, .news-event-date, .news-most-popular-activity, .news-commitments-name {
	border-right: 1px solid #000;
}

#news-members-list {
  list-style: none;
  margin: 0;
  margin-left: 5px;
  padding: 5px;
}

#news-members-list li {
  width: 75px;
  text-align: center;
  min-height: 80px;
}

/**** Team members list styles *******/
#team-members {
  margin: 0 15px;
}

#team-members-content {
  text-align: left;
  margin: 0;
  padding: 5px 20px;
}

#team-member-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#team-member-list li {
  width: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
}

#team-member-list li img {
  padding: 2px;
}

#team-member-detail-list, #team-member-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

#team-member-detail-list>li {
  padding: 5px 0;
}

#team-member-detail-list>li .member-image {
  padding: 4px 2px;
}

#team-member-details {
  margin-left: 5px;
}

#team-member-details>li {
  padding: 2px 0;
}

#team-member-details .team-member-name {
  font-weight: bold;
  font-size: 1.0em;
}

#team-member-details .member-badges {
  vertical-align: middle;
  padding-left: 2px;
}

#team-member-details .team-member-admin {
  font-style: italic;
}
