@charset "UTF-8";
/* CSS Document */

/********************** profile styles ******************************/

table, tr {
  width:100%;
}

td, h5 {
  padding: 4px;
  vertical-align: middle;
}

form {
  margin: 0px;
}

.Empty-List {
  width: 100%; 
  text-align: left;
  padding: 16px;
}

#profile-form {
	width: 100%; 
}

.content {
  box-shadow: none;
}

.container-fluid {
  padding: 0px;
} 

.content-box {
	text-align: left;
  opacity: .99;
}

#profile-form-message { 
  font-weight: bold;
  padding: 5px;
}
 
#profile-form-table td {
	text-align: left;
	vertical-align: top;
	padding: 5px 10px 5px 15px;
	margin: 0;
}

#profile-form-table label {
	font-weight: bold;
	text-transform: capitalize;
}  

#profile-form-table td.profile-section-header {
	font-weight: bold;
	padding-left: 5px;
}

td#profile-form-fb-profile-label, td#profile-form-fb-can-post-fields {
	padding-left: 45px;
} 

#profile-form-table textarea {
  height: 60px
}

#profile-form-table td.profile-form-label {
	padding-left: 30px;
}

#profile-form-table #profile-form-fb-login-button {
  padding-left: 30px;
}

#profile-form-submit {
	text-align: center;
}

#profile-notifications {
	width: 100%;
	float: left;
	clear: right; 
} 

#profile-user-badge-image-header {
	width: 10%;
	}
	
#profile-user-badge-text-header {
  width: 40%;
}

.badge-image img{
  margin-left: 20px;
}

#profile-history-current-date-header, #profile-history-previous-date-header {
	width: 15%;
}

#profile-history-current-task-header, #profile-history-previous-task-header {
	width: 60%;
}   

#profile-notifications-list {
  list-style: none;
  padding-right: 10px;
}

#profile-notifications-list li {
  margin-top: 5px;
  padding: 5px;
}

#profile-notifications-list li.ui-state-highlight {
  background: none;
  border: 1px solid #fed22f;
}

#profile-notifications-list .notification-contents {
  float: none;
}

#profile-notifications-list .notification-timestamp {
  clear: left;
  float: left;
  font-style: italic;
  margin-top: 5px;
}

#profile-notifications-list .notification-options {
  float: right;
  margin-top: 5px;
} 

/************** Rejected dialog styles *****/
.ui-dialog-content p {
  text-align: left;
}

/************** Avatar styles **************/

#avatar-change {
  margin: 0 16px;
}

#avatar-change-content {
  padding: 10px;
}

#avatar-change-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#avatar-change-content ul li {
  display: inline;
  float: left;
  padding-right: 20px;
}

#avatar-change-content form button {
  display: block;
  margin-top: 5px;
}


