
{% with view_objects.energy_goal.daily_goal as daily_goal %}

<div id="DailyEnergyGoalGame-visualization"></div>
    <table cellpadding="5"
           style="background-color:#F5F3E5; font-family: sans-serif; text-align: center; vertical-align: top">
    <tr><td style="vertical-align: top" align="center">
        <table>
        <tr>
        <td>day</td>
        {% for day in daily_goal.keys %}
          <td align="center">
              {{ day }}
          </td>
        {% endfor %}
        </tr>

        <tr>
        <td></td>
        {% for goal in daily_goal %}
            <td>
            {% if goal %}
              {% if goal.actual_usage > goal.goal_usage  %}
                <img src="/site_media/static/images/energy/red.png"/>
              {% else %}
                <img src="/site_media/static/images/energy/green.png"/>
              {% endif %}
            {% else %}
                <img src="/site_media/static/images/energy/grey.png"/>
            {% endif %}
            </td>
        {% endfor %}
        </tr></table>
    </td></tr>
    </table>

<p/>
<b>Each circle indicates the goal status in the current round:<br>
   Red(over), Green(below), Grey(unknow).</b>

{% endwith %}