
{% with view_objects.energy_goal.daily_goal as daily_goal %}

    <table cellpadding="1"
           align="center">
    <tr><td>
      <table cellpadding="2" border="1"
               style="text-align: center; vertical-align: top">
        <tr>
        {% for goal in daily_goal %}
          {% if forloop.counter <= 7 %}
            <td align="center" bgcolor="gray">
              <b>{{ goal.date|date:"D"  }}</b>
            </td>
          {% endif %}
        {% endfor %}
        </tr>
        <tr>
        {% for goal in daily_goal %}
            {% if forloop.counter == 8 %}
                </tr><tr>
            {% endif %}
            <td width="50">
              <span style="font-size: 0.7em;">{{ goal.date|date:"n/j" }} </span> <br/>
              <div class="goal_tooltip">
                  {% if goal.goal_status == "Over the goal"%}
                      <div class="goal_tooltip">
                          <img rel="tooltip" title="{{ goal.verbose_info }}"
                               src="/site_media/static/images/energy/bad32.png"/>
                      </div>
                  {% elif goal.goal_status == "Below the goal"%}
                      <div class="goal_tooltip">
                        <img rel="tooltip" title="{{ goal.verbose_info }}"
                             src="/site_media/static/images/energy/good32.png"/>
                      </div>
                  {% elif goal.goal_status == "Unknown" %}
                      <div class="goal_tooltip">
                          <img rel="tooltip" title="{{ goal.verbose_info }}"
                               src="/site_media/static/images/energy/unknown32.png"/>
                      </div>
                  {% else %}
                      <table><tr><td height="32"></td></tr></table>
                  {%  endif %}
              </div>
            </td>
        {% endfor %}
        </tr>
      </table>
    <tr><td style="font-size: 0.8em" align="left">
        <img src="/site_media/static/images/energy/good32.png" width="16"/>: Awarded (Made the goal)</td></tr>
    <tr><td style="font-size: 0.8em" align="left">
        <img src="/site_media/static/images/energy/bad32.png"  width="16"/>: Not awarded (Did not make the goal)</td></tr>
    <tr><td style="font-size: 0.8em" align="left">
        <img src="/site_media/static/images/energy/unknown32.png"  width="16"/>: Not awarded (Can not determine)</td></tr>
    </td> </tr>
    </table>

{% endwith %}

<script type="text/javascript">

    // tooltip demo
    $('.goal_tooltip').tooltip({
        selector: "img[rel=tooltip]"
    })

</script>
