
{% with view_objects.energy_goal.daily_goal as daily_goal %}

<div id="DailyEnergyGoalGame-visualization"></div>
    <table cellpadding="5"
           style="text-align: center; vertical-align: top">
    <tr><td>
      <table cellpadding="5" border="1"
               style="text-align: center; vertical-align: top">
        <tr>
        {% for goal in daily_goal %}
          <td align="center">
              {{ goal.date|date:"D n/j"  }}
          </td>
        {% endfor %}
        </tr>
        <tr>
        {% for goal in daily_goal %}
            <td>
              {% if goal.goal_status == "Over the goal"%}
                <img src="/site_media/static/images/energy/bad32.png"/>
              {% elif goal.goal_status == "Below the goal"%}
                <img src="/site_media/static/images/energy/good32.png"/>
              {% elif goal.goal_status == "Unknown" %}
                <img src="/site_media/static/images/energy/unknown32.png"/>
              {% else %}
                  <table><tr><td height="16"></td></tr></table>
              {%  endif %}
            </td>
        {% endfor %}
        </tr>
      </table>
    <tr> <td style="font-size: 0.8em">Each circle indicates the goal status in the current round:<br>
        <img src="/site_media/static/images/energy/good32.png" width="16"/>: Made the goal
        <img src="/site_media/static/images/energy/bad32.png"  width="16"/>: Did not make it
        <img src="/site_media/static/images/energy/unknown32.png"  width="16"/>: No data</td> </tr>
    </table>

{% endwith %}