{% with pending_members=view_objects.status__actions.pending_members oldest_member=view_objects.status__actions.oldest_member %}
<div class="content-box-centered demi-widget"> 
    <div class="content-box-title">
        Approval Queue
    </div> 
    <div class="widget-content">
        <div style='font-weight: bold;{% if pending_members > 50 %}color: red{% endif %}'>
            {% if pending_members > 0 %}
                There are {{ pending_members }} pending ActivityMember(s) in the queue.
                <br/>
                {% if oldest_member %}The oldest item was submitted
                    at {{ oldest_member.submission_date }}
                {% endif %}
            {% else %}
                The Queue is Empty!
            {% endif %}
            
        </div>
    </div>
</div> 
{% endwith %}
