{% with pending_members=view_objects.status__actions.pending_members oldest_member=view_objects.status__actions.oldest_member quests=view_objects.status__actions.quests popular_tasks=view_objects.status__actions.popular_tasks%}
 
     <div class="content-box demi-widget">
            <div class="content-box-title">
                Popular Commitments
            </div>
                
                <div class="widget-content">
                <table class="table-striped">
                    <tr>
                        <th>Commitment</th>
                        <th>Submts</th>
                        <th>Cmpltd</th>
                    </tr>
                    {% for task in popular_tasks.commitment %}
                        <tr>
                            <td>
                                <a href="{% url activity_task task.type task.slug %}">{{ task.title }}</a>
                            </td>
                            <td>{{ task.submissions }}</td>
                            <td>{{ task.completions }}</td>
                        </tr>
                    {% endfor %}
                </table>
          </div>
      </div>    
{% endwith %}
