{% with pending_members=view_objects.status__actions.pending_members oldest_member=view_objects.status__actions.oldest_member quests=view_objects.status__actions.quests popular_tasks=view_objects.status__actions.popular_tasks%}

 

        {% for key, value in popular_tasks.items %}
        <div class="span2 ">
             <div class="content-box widget">
                <div class="widget-content">
                    <div class="content-box-title">
                        Popular {{ key|capfirst }}
                    </div>
                        <table>
                            <tr>
                                <th style="width: 70%">{{ key }}</th>
                                <th>Submits</th>
                                <th>Completed</th>
                            </tr>
                            {% for task in value %}
                                <tr>
                                    <td>
                                        <a href="{% url activity_task task.type task.slug %}">{{ task.title }}</a>
                                    </td>
                                    <td>{{ task.submissions }}</td>
                                    <td>{{ task.completions }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                  </div>
              </div> 
      </div> 
        {% endfor %}
{% endwith %}
