{% with pending_members=view_objects.status__actions.pending_members oldest_member=view_objects.status__actions.oldest_member quests=view_objects.status__actions.quests popular_tasks=view_objects.status__actions.popular_tasks%}

{% for key, value in popular_tasks.items%}
  {% if key != "commitment" and key != "filler" %}
    {% if key != "excursion" %}<div class="span2 ">{%endif%}
     <div class="content-box {% if key == "excursion" or key == "event"%}demi-{% endif %}widget">
            <div class="content-box-title">
                Popular {{ key|capfirst }}
            </div>
                
                <div class="widget-content">
                <table class="table-striped">
                    <tr>
                        <th>{{ key }}</th>
                        <th>Submts</th>
                        <th>Cmpltd</th>
                    </tr>
                    {% for task in value %}
                        <tr>
                            <td>
                                <a href="{% url activity_task task.type task.slug %}">{{ task.title }}</a>
                            </td>
                            <td>{{ task.submissions }}</td>
                            <td>{{ task.completions }}</td>
                        </tr>
                    {% endfor %}
                </table>
          </div>
      </div> 
  {% if key != "event" %} </div> {%endif%}
  {% endif %}
{% endfor %}
{% endwith %}
