<div class="content-box widget" >
    <div class="content-box-title">
        Popular Quests
    </div> 
    <div class="widget-content">
        <table class="table-striped">
            <tr>
                <th>Name</th>
                <th>Completions</th>
            </tr>
            {% for quest in quests %}
                <tr>
                    <td>{{ quest.name }}</td>
                    <td>{{ quest.completions }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div> 
