<div class="content-box demi-widget" >
    <div class="content-box-title">
        Popular Quests
    </div> 
    <div class="widget-content">
        <table class="table-striped">
            <tr>
                <th class="column-text">Name</th>
                <th class="column-number">Completions</th>
            </tr>
            {% for quest in quests %}
                <tr>
                    <td class="column-text">{{ quest.name }}</td>
                    <td class="column-number">{{ quest.completions }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div> 
