{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
      <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
      <li><a href="/smartgrid/event/rsvps/{{ object_id }}/" class="historylink">View RSVPs</a></li>
      <li><a href="/admin/smartgrid/confirmationcode/?action__exact={{ object_id }}" class="historylink">View Confirmation Codes</a></li>
  </ul>
{% endif %}{% endif %}
{% endblock %}
