{% load class_tags %}

    <div {% get_id_and_classes "help-video" %}>
        <div {% get_id_and_classes "help-video-box" %}>
            <div {% get_id_and_classes "help-video-title" %}>
                Introduction to the Kukui Cup
            </div>
            <div {% get_id_and_classes "help-video-content" %}>
                <div id="videoDiv">Loading Video ...</div>
                <script type="text/javascript">
                    google.load("swfobject", "2.1");
                </script>
                <script type="text/javascript">
                    google.setOnLoadCallback(function () {
                        var videoID = "T37kNTkZCrA";
                        var width = "376";
                        var length = "225";
                        var params = { allowScriptAccess:"always", wmode:"opaque" };
                        var atts = { id:"ytPlayer" };
                        swfobject.embedSWF("http://www.youtube.com/v/" + videoID +
                                "?fs=1&hl=en_US&rel=0&enablejsapi=1",
                                "videoDiv", width, length, "8", null, null, params, atts);
                    });
                </script>
            </div>
        </div>
    </div>