{% load markup %}
<div class="content-box">
    <div class="content-box-title">Six Badge Styles</div>
    <div class="content-box-contents">
    <p>Badge 1</p>
    <div class="badge-theme-1"><p>TWF</p></div>
    <div class="badge-theme-1-small"><p>TWF</p></div>
    <p>Badge 2</p>
    <div class="badge-theme-2"><p>xyz</p></div>
    <div class="badge-theme-2-small"><p>xyz</p></div>
    <p>Badge 3</p>
    <div class="badge-theme-3"><p>def</p></div>
    <div class="badge-theme-3-small"><p>def</p></div>
    <p>Badge 4</p>
    <div class="badge-theme-4"><p>uvw</p></div>
    <div class="badge-theme-4-small"><p>uvw</p></div>
    <p>Badge 5</p>
    <div class="badge-theme-5"><p>hij</p></div>
    <div class="badge-theme-5-small"><p>hij</p></div>
    <p>Badge 6</p>
    <div class="badge-theme-6"><p>abc</p></div>
    <div class="badge-theme-6-small"><p>abc</p></div>
    </div>
</div>