{% load admin_static %}

<div class="content-box">
    <div class="content-box-title">
        Game Settings
    </div>
    <div> Click on the links below to configure game related settings or administrate
        the games.
        Clicking on the title of a game will let you enable or disable the game and its
        widgets.
    </div>
    {% for app, enabled, pk, models in MAKAHIKI_DESIGNER_GAME_MODELS %}
        <div class="module">
            <table>
                <caption>
                    <div class="goal_tooltip">
                        <a rel="tooltip"
                           data-original-title="Click to enable or disable the game"
                           href="/admin/challenge_mgr/gameinfo/{{ pk }}/">{{ app }}
                        </a>
                                <span style="float: right;">
                                    {% if enabled %}
                                        <img src="{% static 'admin/img/icon_success.gif' %}" alt="True">
                                    {% else %}
                                        <img src="{% static 'admin/img/icon_error.gif' %}" alt="False">
                                    {% endif %}
                                </span>
                    </div>
                </caption>
                <tbody>
                {% if enabled %}
                    {% for model in models %}
                        <tr>
                            <th scope="row">
                                <div class="goal_tooltip">
                                    <a rel="tooltip"
                                       data-original-title="{{ model.tooltip }}"
                                       href="/challenge_setting_admin/{{ model.url }}/">{{ model.name }}</a>
                                </div>
                            </th>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
<script type="text/javascript">

    // tooltip demo
    $('.goal_tooltip').tooltip({
        selector:"a[rel=tooltip]",
        placement:"right"
    })

</script>