<div class="content-box">
    <div class="content-box-title">
        Challenge Settings
    </div>
    <div> Click on the links below to configure the challenge.
    </div>

    {% for app, models in MAKAHIKI_DESIGNER_CHALLENGE_MODELS %}
        <div class="module">
            <table>
                <caption>{{ app }}</caption>
                <tbody>
                {% for model in models %}
                    <tr>
                        <th scope="row">
                            <div class="goal_tooltip">
                            <a rel="tooltip"
                               data-original-title="{{ model.tooltip }}"
                               href="/challenge_setting_admin/{{ model.url }}/">{{ model.name }}</a>
                            </div>
                        </th>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
<script type="text/javascript">

    // tooltip demo
    $('.goal_tooltip').tooltip({
        selector:"a[rel=tooltip]",
        placement:"right"
    })

</script>