{% with wallpost=view_objects.wallpost__user_wallpost %}
{% for post in wallpost.posts %}
    <!-- {% cycle 'alt-row' '' as cycle_class %} -->
    {% if post.style_class == "user_post" %}
        {% include "user_post.html" %}
    {% else %}
        {% include "system_post.html" %}
    {% endif %}

    {% if forloop.last and wallpost.more_posts %}
        <li id="view-more-user-posts">
            <a href="#" onclick='
                    $.get("{% url news_more_user_posts %}?last_post={{post.id}}&page_name={{ wallpost.page_name }}", function(data) {
                    $("#view-more-user-posts").remove();
                    $(".user-wall-posts").append(data.contents);
                    });
                    return false;'>See more</a>
        </li>
    {% endif %}
{% endfor %}
{% endwith %}
