{% load markup %}

<table>
    <tr>
        <th class="profile-history-current-date-header achievement-date-column">Date</th>
        <th class="profile-history-current-task-header achievement-content-column">Task</th>
        <th class="profile-history-current-status-header" >Status</th>
    </tr>
    {% for member in view_objects.my_achievements.in_progress_members %}
        {% if member.action.activity or member.action.event %}
            {% with member.action.activity as activity %}
            <tr>
                <td>{{ member.created_at|date:"n/j/y" }}</td>
                <td>
                    <a href="{% url activity_task member.action.type member.action.slug %}">
                        {{ member.action.type.capitalize }}: {{ member.action.name }}
                    </a>
                </td>
                {% if member.approval_status == "pending" and member.action.activity %}
                    <td title="Your request needs administrator approval.">
                        {{ member.approval_status.capitalize }}
                {% else %}
                    {% if member.approval_status == "pending" %}
                        <td title="You have signed up for the {{member.action.type}}">
                            Signed up
                    {% else %}
                        {# Item is not pending and is not approved, so it should be rejected. #}
                        <td title="Your request has not been approved.">
                        <a id="{{activity.title|slugify}}-rejected"
                           href="#">{{ member.approval_status.capitalize }}</a>

                        <div id="{{activity.title|slugify}}-rejected-dialog"
                             title="{{activity.title}}" style="display:none">
                            <p>Your response for this activity was not approved. Here's the
                                feedback from the administrator:</p>

                            <div style="font-style:italic">{{ member.admin_comment|markdown }}</div>
                            <p>
                                <a href="{% url activity_task activity.type activity.slug %}">Go
                                    to the activity page</a> to try again.</p>

                            <input type="submit" value="OK"
                                   onclick='$("#{{activity.title|slugify}}-rejected-dialog").dialog("close");'/>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#{{activity.title|slugify}}-rejected-dialog").dialog({
                                    modal:true,
                                    autoOpen:false,
                                    open:function (event, ui) {
                                        log_js_action("profile", "{{activity.title|slugify}}-rejected", "dialog-open");
                                    },
                                    close:function (event, ui) {
                                        log_js_action("profile", "{{activity.title|slugify}}-rejected", "dialog-close");
                                    }
                                });

                                $("#{{activity.title|slugify}}-rejected").click(function () {
                                    $("#{{activity.title|slugify}}-rejected-dialog").dialog("open");
                                });
                            });
                        </script>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
            {% endwith %}
        {% else %}
            <tr>
                <td>{{ member.created_at|date:"n/j/y" }}</td>
                <td>
                    <a href="{% url activity_task 'commitment' member.action.slug %}">
                        Commitment: {{ member.action.name }}
                    </a>
                </td>
                <td title="The commitment is still active.">In Progress</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
