<div class="content-box-title">
  My Achievements
  <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
           align="center"
           title="Click to get help about this window"
           onclick="toggleHelp('widget', 'my-achievements'); return false;"/>
  </a>
</div> 
  <!--Current & Pending-->
  <h5>Current and Pending</h5>
  {% if view_objects.my_achievements.in_progress_members %}
      {% include "in_progress_members.html" %}
  {% else %}
      <p class="Empty-List">You have nothing in
          progress or pending.</p>
  {% endif %}
  <!--Previously Awarded-->
  <h5>Previously Awarded</h5>
  {% if view_objects.my_achievements.points_logs %}
      <table>
          <tr >
              <th class="profile-history-previous-date-header">Date
              </th>
              <th class="profile-history-previous-task-header">Task
              </th>
              <th class="profile-history-previous-points-header">
                  Points
              </th>
          </tr>
          {% include "completed_members.html" %}
      </table>
  {% else %}
      <p class="Empty-List">You have not been awarded
          anything yet!</p>
  {% endif %}  
