{% with events=view_objects.status__rsvps.events excursions=view_objects.status__rsvps.excursions %} 
<div class="content-box widget">
    <div class="content-box-title">
        Excursion RSVPs
    </div>
    <div class="content-body">
        <table>
            {% if excursions %}
                <tr>
                    <th class="padding-right">Event</th>
                    <th>Seats</th>
                    <th>RSVPs</th>
                </tr>
                {% for excursion in excursions %}
                    <tr>
                        <td><a
                                href='{% url activity_view_rsvps excursion.type excursion.slug %}'>{{ excursion.title }}</a>
                        </td>
                        <td>{{ excursion.event.event_max_seat }}</td>
                        <td>{{ excursion.rsvps }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>There are no RSVPs</td>
                </tr>
            {% endif %}
        </table>
    </div> 
</div>
{% endwith %}
