{% with events=view_objects.status__rsvps.events excursions=view_objects.status__rsvps.excursions %} 
    <div class="content-box">
        <div class="content-box-title">
                RSVPs
            </div>
        <ul id="rsvp-tab" class="nav nav-tabs">  
                <li class="">
                    <a data-toggle="tab" href="#events">Events</a>
                </li>  
                <li class="">
                    <a data-toggle="tab" href="#excursions">Excursions</a>
                </li>  
        </ul>
        <div class="tab-content">
        <div id="events" class="tab-pane fade active in"> 
            <div class="content-box-title">
                Event RSVPs
            </div>
            <div class="content-body">
                <table>
                    {% if events %}
                        <tr>
                            <th class="padding-right">Event</th>
                            <th>Seats</th>
                            <th>RSVPs</th>
                        </tr>
                        {% for event in events %}
                            <tr>
                                <td><a
                                        href='{% url activity_view_rsvps event.type event.slug %}'>{{ event.title }}</a>
                                </td>
                                <td>{{ event.event.event_max_seat }}</td>
                                <td>{{ event.rsvps }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>There are no RSVPs</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>

        <div id="excursions" class="tab-pane fade active in"> 
            <div class="content-box-title">
                Excursion RSVPs
            </div>
            <div class="content-body">
                <table>
                    {% if excursions %}
                        <tr>
                            <th class="padding-right">Event</th>
                            <th>Seats</th>
                            <th>RSVPs</th>
                        </tr>
                        {% for excursion in excursions %}
                            <tr>
                                <td><a
                                        href='{% url activity_view_rsvps excursion.type excursion.slug %}'>{{ excursion.title }}</a>
                                </td>
                                <td>{{ excursion.event.event_max_seat }}</td>
                                <td>{{ excursion.rsvps }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>There are no RSVPs</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

</div> 
<script type="text/javascript">
$('#rsvp-tab.nav-tabs a:first').tab('show');
</script> 
{% endwith %}
