{% load avatar_tags %}


<div id="news-most-popular" class="content-box">
    <div id="news-most-popular-title" class="content-box-title">
        Most Popular
        <a href="#" style="float: right">
            <img src="{{ STATIC_URL}}css/default/images/icon-help-sm.png" width="20"
                 align="center"
                 title="Click to get help about this window"
                 onclick="toggleHelp('widget', 'most-popular'); return false;"/>
        </a>
    </div>
    <div id="news-most-popular-content">
        <div id="news-most-popular-actions" class="carousel">
            <div class="carousel-inner">
              {% include "popular_tasks.html" %}
            </div>
        </div>
    </div>
</div>
