{% load cache %}

{% cache 600 news-popular-tasks %}
<div id="popular-outer-box" class="content-box">
  
    {% if not view_objects.popular_tasks.no_carousel %}
    <div id="news-most-popular-actions">
    {% endif %}

    {% for key, value in view_objects.popular_tasks.popular_tasks.items %}
    <div class="item">
        <div class="set-popular-width-outer-width">
        <div class="content-box-title">
            Most Popular {{ key }}
            {% if not view_objects.popular_tasks.no_carousel %}
            <a href="#" style="float: right">
                <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                     align="center"
                     title="Click to get help about this window"
                     onclick="toggleHelp(event, 'widget', 'most-popular'); return false;"/>
            </a>
            {% endif %}
        </div>
        <div class="content-box-contents">
                    {% if value %}
                        <table id="news-popular-{{key|slugify}}-table">
                            <tr>
                                <th style="width: 80%">{{ key }}</th>
                                <th>{% if key == 'Excursion' or key == 'Event' %}Sign ups{% else %}
                                    Completions{% endif %}</th>
                            </tr>
                            {% for task in value %}
                                <tr>
                                    <td>
                                        <a href="{% url activity_task task.type task.slug %}">{{ task.title }}</a>
                                    </td>
                                    <td>{{ task.completions }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        {% if not view_objects.popular_tasks.no_carousel %}
                        <p>Be the first to
                            {% if key == 'Excursion' or key == 'Event' %}sign up for{% else %}
                                complete{% endif %} a {{ key.lower }}!</p>
                        {% endif %}
                    {% endif %}
        </div>
        </div>
    </div>
    {% endfor %}

    {% if not view_objects.popular_tasks.no_carousel %}
    </div>

        <center>
            <div id="nav" class="nav nav-page-list"> 
            {% for i in range  %} 
                <a class="" href="#">{{i}}</a> 
            {% endfor %}
            </div> 
        </center>
    {% endif %}
</div>
{% if not no_carousel %}
<script type="text/javascript">
$(document).ready(function() {
	  // Calculate the height of the items in the carousel.
	  // Fix the height of all items to that height.
	  var maxHeight = 45;
	  var height = 0;
	  $("#news-most-popular-actions .item").each(function(index, item) {
	    height = $(item).height();
	    // console.log("height of item is " + height);
	    if (height > maxHeight){
	      maxHeight = height;
	    }
	  });
	  
	  $("#news-most-popular-actions").height(maxHeight);

      var outerWidth = $("#popular-outer-box").width();
//    console.log("Outer width is " + outerWidth);
      $(".set-popular-width-outer-width").each (function(index, item) {
          item.style.width = outerWidth + "px";
      });
	  
// 	  $(".carousel").carousel();
	  $("#news-most-popular-actions").cycle({
          fx: "fade",
          timeout: 3500,
          delay:  -1000,
          slideResize:   0,
          sync: true,
          pager: '#nav',
          pause: 1
          });
	});
	
$(window).resize(function() {
    var outerWidth = $("#popular-outer-box").width();
//     console.log("Outer width is " + outerWidth);
    $(".set-popular-width-outer-width").each (function(index, item) {
//     	console.log("Setting " + item + "'s width to " + outerWidth);
        item.style.width = outerWidth + "px";
    });     
});	
</script>
{% endif %}
{% endcache %}
