{% load markup %}
<div id="task-feedback">
<form action="{% url add_activity_feedback action.type action.slug %}" method="post">
<div style="text-align:left; margin-left:10px;">
<h3>Your feedback on this action</h3>
{% if not feedback_p %}
Please provide feedback:
{% else %}
Your current feedback. Please update if desired
{% endif %}
    {% csrf_token %}
    <table class="">
        <tr>
            <td>Loved it</td>
            <td>5 <input id="radScoreStart" type="radio" name="Score" value="5" {% if feedback_p and feedback_p.rating == 5 %} checked {% endif %}/></label></td>
            <td>4 <input type="radio" name="Score" value="4" {% if feedback_p and feedback_p.rating == 4 %} checked {% endif %}/></td>
            <td>3 <input type="radio" name="Score" value="3" {% if feedback_p and feedback_p.rating == 3 %} checked {% endif %}/></td>
            <td>2 <input type="radio" name="Score" value="2" {% if feedback_p and feedback_p.rating == 2 %} checked {% endif %}/></td>
            <td>1 <input id="radScoreEnd" type="radio" name="Score" value="1" {% if feedback_p and feedback_p.rating == 1 %} checked {% endif %}/></td>
            <td>Hated it</td>
        </tr>
    </table>
    Any comments?<br/>
    <div class="controls">
        <textarea rows="1" name="comments">{% if feedback_p %} {{ feedback_p.comment }} {% endif %}</textarea>
    </div>
    <div>
        <input id="feedback-submit-button" type="submit" value="Submit" class="btn btn-widget"/>
    </div>
</div>
</form>
</div>
