{% load markup %}
<div id="task-feedback">
<p>Please provide feedback on {{ action.type|capfirst }} : {{ action.name }}.</p>
<form action="{% url add_activity_feedback action.type action.slug %}" method="post">
    {% csrf_token %}
    <table class="">
        <tr>
            <td>Hated it</td>
            <td>1<input id="radScoreStart" type="radio" name="Score" value="1" /></label></td>
            <td>2<input type="radio" name="Score" value="2" /></td>
            <td>3<input type="radio" name="Score" value="3" /></td>
            <td>4<input type="radio" name="Score" value="4" /></td>
            <td>5<input id="radScoreEnd" type="radio" name="Score" value="5" /></td>
            <td>Loved it</td>
        </tr>
    </table>
    Any comments about the {{ action.name }} {{ action.type }}?<br/>
    <div class="controls">
        <textarea rows="2" name="comments"></textarea>
    </div>
    <div>
        <input id="feedback-submit-button" type="submit" value="Submit" class="btn btn-widget"/>
    </div>
</form>

<script>
$(document).ready(function() {
    var submit_button = $('#feedback-submit-button');
    if (submit_button) {
        submit_button.click(function() {
            $('#task-feedback').addClass("hidden");
        });
    }
});
</script>
</div>
