{% extends "logged_in_base.html" %}

{% load markup %}

{% load avatar_tags %}

{% block page_title %}
    {{action.name}}: Feedback
{% endblock %}

{% block selected_icon %}selected-status{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block body %}
<div class="content-box">
    <div class="content-box-title">
        {{action.type|capfirst}}: {{action.name}} - Detailed Feedback
    </div>
    <div class="contentbox-contents">
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="graph" class="span3" style="height: 145px;"></div>
                <div class="span9">
                    <table class="table table-striped">
                        <thead>
                            <th width=25%>User</th>
                            <th width=10%>Rating</th>
                            <th>Comments</th>
                        </thead>
                        <tbody>
                        {% for f in feedback %}
                            <tr>
                                <td>{{f.user.username}}</td>
                                <td>{{f.rating}}</td>
                                <td>{{f.comment}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawIndividualChart);
function drawIndividualChart() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Rating');
  data.addColumn('number', 'Count');
  data.addRows({{scale|safe}});
  
  var options = {
          backgroundColor: 'transparent',
//           hAxis: {gridlines: {color: 'transparent'},
//                viewWindow: {min: 0, max: 6},
//                viewWindowMode: 'pretty'
//               },
          legend: 'none',
//           vAxis: {baselineColor: 'transparent', 
//                   format: "###",
//                   gridlines: {color: 'transparent', count: 2}}
        
  };

  var chart = new google.visualization.ColumnChart(document.getElementById('graph'));
  chart.draw(data, options);        
}

//     $(document).ready(function () {
//     var d1 = {{scale}}

//     var options = {
//             series: {
//                      lines: {show: false, steps: false },
//                      bars: {show: true, barWidth: 0.6},
//                     },
//         };

//     $.plot($("#graph"), [d1], options);
// });
</script>
        </div>
        <center>
            <a class="btn btn-widget padded" href="/status/#feedback_graph">
                <img src="{{ STATIC_URL}}images/left.png"
                     width="25" align="center">
            Back to Status
            </a>
        </center>
    </div>
</div>
{% endblock %}