    <div class="content-box-title">
    Activity, Commitment, Event, and Excursion Feedback
    </div>
    <div class="content-box-contents">
    <script type="text/javascript" src="{{STATIC_URL}}js/flot/jquery.flot.js"></script>
    <table>
    <thead>
        <th>Action</th>
        <th>Average Rating ({{view_objects.action_feedback.analysis.overall_average}}) </th>
        <th># Feedback</th>
        <th>Feedback</th>
    </thead>
    <tbody>
    {% for key,value in view_objects.action_feedback.analysis.items %}
    {% if key != 'overall_average' %}
    <tr {% if value.average < view_objects.action_feedback.analysis.overall_average %} style="color: red" {%endif%}>
        <td><a href="{% url view_feedback value.action.type value.action.slug %}">{{key}}</a> </td>
        <td>{{value.average}}</td>
        <td>{{value.count}}</td>
        <td><div id="graph{{forloop.counter}}" class="span3" style="height: 45px;"> </div></td>
    </tr>
    <script type="text/javascript">
    $(document).ready(function () {
    var d1 = {{value.scale}}
//     //reverse data
//     for (i=0;i<d1.length;i++){
//        var tmp = d1[i][0];
//        d1[i][0] = d1[i][1];
//        d1[i][1] = tmp;
//     }

    var options = {
    	    series: {stack: true,
                     lines: {show: false, steps: false },
                     bars: {show: true, horizontal:true},
                    }
        };

    var plotarea = $("#graph{{forloop.counter}}");
//    $.plot(plotarea, d1, options);
    $.plot($("#graph{{forloop.counter}}"), [ {data: d1, bars: {show: true, barWidth: 0.6}} ]);
//    $.plot($("#graph{{forloop.counter}}"), [ {data: d1, lines: {show: true}, xaxis:{show: false, ticks: null}, grid: {
//        show: false}} ]);
});
</script>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
    </div>
