    <div class="content-box-title">
    Activity, Commitment, Event, and Excursion Feedback
    </div>
    <div class="content-box-contents widget-content">
    <script type="text/javascript" src="{{STATIC_URL}}js/flot/jquery.flot.js"></script>
    <div class="container-fluid">
        <div id="feedback_graph" class="row-fluid">
            <div id="graph_placeholder" class="span12" style="height:{{view_objects.action_feedback.stacked.height}}px"></div>
<script type="text/javascript">
    $(document).ready(function() {
    	function plotWithOptions() {
    		$.plot($("#graph_placeholder"), [{{view_objects.action_feedback.stacked.d5}},
    		                                 {{view_objects.action_feedback.stacked.d4}},
     		                                 {data: {{view_objects.action_feedback.stacked.d3}},
     		                                  color: "rgba(255, 255, 255, 0.0)"},
    		                                 {{view_objects.action_feedback.stacked.d2}},
    		                                 {{view_objects.action_feedback.stacked.d1}}
    		                                ], {
    			series: {
    				stack: true,
    				bars: { show: true, barWidth: 0.6, horizontal: true}
    			},
    			yaxis: {
    				ticks: {{view_objects.action_feedback.stacked.yticks|safe}}
    			},
    			xaxis: {
    				ticks: {{view_objects.action_feedback.stacked.xticks|safe}}
    			}
    		} 
    				
    				);
    	}
    	
    	plotWithOptions();
    })    
</script>            
        </div>
    </div>
    
    <table class="table">
    <thead>
        <th>Action</th>
        <th>Average Rating ({{view_objects.action_feedback.analysis.overall_average}}) </th>
        <th># Feedback</th>
        <th>Feedback</th>
    </thead>
    <tbody>
    {% for key,value in view_objects.action_feedback.analysis.items %}
    {% if key != 'overall_average' %}
    <tr {% if value.average < view_objects.action_feedback.analysis.overall_average %} style="color: red" {%endif%}>
        <td><a href="{% url view_feedback value.action.type value.action.slug %}">{{key}}</a> </td>
        <td>{{value.average}}</td>
        <td>{{value.count}}</td>
        <td><div class="row-fluid"><div id="graph{{forloop.counter}}" class="span12" style="height: 45px;"> </div></div></td>
    </tr>
    <script type="text/javascript">
    $(document).ready(function () {
    var data = {{value.scale}}
    var options = {
    	   bars: {show: true, barWidth: 0.6},
    	   grid: {show: false}
        };

    var plotarea = $("#graph{{forloop.counter}}");
//    $.plot(plotarea, data, options);
    $.plot($("#graph{{forloop.counter}}"), [data], {
    	bars: {show: true, barWidth: 0.6}, 
    	grid: {show: false}
    	});
//    $.plot($("#graph{{forloop.counter}}"), data, options); 

});
</script>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
    </div>
