{%if not no_carousel %}
<div id="outer-box" class="content-box">
    <div id="score-cycle">
{% else %}
<div class="content-box">
    <div class="widget-content">
        <div class="content-box-title">
          {{ resource.name|capfirst }} Scoreboard
        </div>
        <ul id="{{resource.name}}-tab" class="nav nav-tabs">
            {% for round_name, ranks in round_resource_ranks.items reversed %}
            <li class="">
                <a data-toggle="tab" href="#{{resource.name}}-{{round_name|cut:" "}}">{{round_name }}</a>
            </li>
            {% endfor %}
            {% for round_name, ranks in round_resource_goal_ranks.items reversed %}
                <li class="">
                    <a data-toggle="tab" href="#{{resource.name}}-{{round_name|cut:" "}}-goal">{{round_name }} Goal</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
{% endif %}

{% for round_name, ranks in round_resource_ranks.items reversed %}
    {%if not no_carousel %}
        <div class="item">
            <div class="set-width-outer-width">
    {% else %}
            <div id="{{resource.name}}-{{round_name|cut:" "}}" class="tab-pane fade active in {% if round_resource_goal_ranks %}wrap{%endif%}">
    {% endif %}

    {% if not no_carousel %}
        <div class="content-box-title">
            {{ resource.name|capfirst }} Scoreboard ({{ round_name }})
            <a href="#" style="float: right">
                    <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                     align="center"
                     title="Click to get help about this window"
                     onclick="toggleHelp(event, 'widget', '{{resource.name}}-scoreboard'); return false;"/>
                </a>
        </div>
    {% endif %}
          <table class="table-striped">
            <thead>
              <tr>
                  <th class="column-number" width="10%">Rank</th>
                  <th class="column-text" width="75%">{{ TEAM_LABEL }}</th>
                  <th class="column-number" width="15%">{{ resource.unit  }} used</th>
              </tr>
            </thead>
            {% for entry in ranks %}
            <tr>
                <td class="column-number" width="10%">{% if entry.team__name == team.name %}<b>{% endif %}
                       {{ forloop.counter }}
                       {% if entry.team__name == team.name %}</b>{% endif %}
                </td>
                <td class="column-text" width="75%">{% if entry.team__name == team.name %}<b>{% endif %}
                       {{ entry.team__name }}
                       {% if entry.team__name == team.name %}</b>{% endif %}
                </td>
                <td class="column-number" width="15%">{% if entry.team__name == team.name %}<b>{% endif %}
                       {{ entry.total }}
                       {% if entry.team__name == team.name %}</b>{% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if not no_carousel %}
        </div>
    {% endif %}
{% endfor %}
    {# Additional scoreboard entry for the energy goals #}
{% for round_name, ranks in round_resource_goal_ranks.items reversed %}
    {% if not no_carousel %}
        <div class="item">
            <div class="set-width-outer-width">
    {% else %}
        <div id="{{resource.name}}-{{round_name|cut:" "}}-goal" class="tab-pane fade active in {% if round_resource_goal_ranks %}wrap{%endif%}">
    {% endif %}
        {% if not no_carousel %}
            <div class="content-box-title">
                {{ resource.name|capfirst }} Goal Game Scoreboard ({{ round_name }})
                {% if not no_carousel %}
                    <a href="#" style="float: right">
                        <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                         align="center"
                         title="Click to get help about this window"
                         onclick="toggleHelp(event, 'widget', '{{resource.name}}-scoreboard'); return false;"/>
                    </a>
                {% endif %}
            </div>
        {% endif %}
            <table class="table-striped">
                <tr>
                    <th class="column-number" width="10%"">Rank</th>
                    <th class="column-text" width="45%">{{ TEAM_LABEL }}</th>
                    <th class="column-number" width="25%">Days met goal</th>
                    <th class="column-number" width="20%">Avg reduction</th>
                </tr>
                {% for entry in ranks %}
                <tr>
                    <td class="column-number">{% if entry.team__name == team.name %}<b>{% endif %}
                        {{ forloop.counter }}{%  if entry.team__name == team.name %}</b>{% endif %}</td>
                    <td class="column-text">{%  if entry.team__name == team.name %}<b>{% endif %}
                    {{ entry.team__name }}{%  if entry.team__name == team.name %}</b>{% endif %}</td>
                    <td class="column-number">{%  if entry.team__name == team.name %}<b>{% endif %}
                    {{ entry.completions }}{%  if entry.team__name == team.name %}</b>{% endif %}</td>
                    <td class="column-number">{%  if entry.team__name == team.name %}<b>{% endif %}
                    {{ entry.average_reduction|floatformat }}%{%  if entry.team__name == team.name %}</b>{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% if not no_carousel %}
            </div>
        {% endif %}
{% endfor %}

</div>
{% if no_carousel %}
    </div>
    </div>
    <script type="text/javascript">
    $('#{{resource.name}}-tab.nav-tabs a:first').tab('show');
    </script>
{% else %} 
    <center>
        <div id="nav" class="nav nav-page-list">
            {% for i in range  %}
                <a class="" href="#">{{i}}</a>
            {% endfor %}
        </div>
    </center>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
              // Calculate the height of the items in the scoreboard.
              // Fix the height of all items to that height.
              var maxHeight = 45;
              var height = 0;
              $("#score-carousel .item").each(function(index, item) {
                height = $(item).height();
                // console.log("height of item is " + height);
                if (height > maxHeight){
                  maxHeight = height;
                }
              });
              maxHeight += $("#resource-scoreboard-message").height();
              $("#score-carousel").height(maxHeight);

              var outerWidth = $("#outer-box").width();
    //        console.log("Outer width is " + outerWidth);
              $(".set-width-outer-width").each (function(index, item) {
                  item.style.width = outerWidth + "px";
              });

    //         $("#score-carousel").carousel();
              $("#score-cycle").cycle({
                  fx: "fade",
                  timeout: 3500,
                  delay: -1000,
                  sync: true,
                pager: '#nav',
                pause: 1
              });
        });

        $(window).resize(function() {
            var outerWidth = $("#outer-box").width();
    //         console.log("Outer width is " + outerWidth);
            $(".set-width-outer-width").each (function(index, item) {
    //          console.log("Setting " + item + "'s width to " + outerWidth);
                item.style.width = outerWidth + "px";
            });
        });

    </script>
{% endif %}
