<div class="content-box">
    {% if not no_carousel %}
    <div class="carousel">
    <div class="carousel-inner">
    {% endif %}
    {% for round_name in scoreboard_rounds %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <div class="content-box-title">
                {{ round_name }} {{ resource.name|capfirst }} Score Board
                {% if not no_carousel %}
                    <a href="#" style="float: right">
                        <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                         align="center"
                         title="Click to get help about this window"
                         onclick="toggleHelp('widget', 'resource-scoreboard'); return false;"/>
                    </a>
                {% endif %}
            </div> 
                <table id="{{round_name|slugify}}-resource-scoreboard" class="table">
                    <tr>
                        <th>Rank</th>
                        <th>{{ TEAM_LABEL }}</th>
                        <th>{{ resource.unit  }} used</th>
                    </tr>
                    {% for entry in energy_ranks %}
                    <tr>
                        <td>{%  if entry.team__name == user.get_profile.team.name %}<b>{% endif %}
                               {{ forloop.counter }}
                        </td>
                        <td>{%  if entry.team__name == user.get_profile.team.name %}<b>{% endif %}
                               {{ entry.team__name }}
                        </td>
                        <td style="text-align: right; padding-right: 20px">
                               {%  if entry.team__name == user.get_profile.team.name %}<b>{% endif %}
                               {{ entry.total }}
                        </td>
                    </tr>
                    {% endfor %}
                </table> 
        </div>
    {% endfor %}
    {# Additional scoreboard entry for the energy goals #}
    {% if goals_scoreboard and goals_scoreboard|length > 0 %}
        <div class="item">
            <div class="content-box-title">
                Completed Energy Goals
                {% if not no_carousel %}
                    <a href="#" style="float: right">
                        <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                         align="center"
                         title="Click to get help about this window"
                         onclick="toggleHelp('widget', 'resource-scoreboard'); return false;"/>
                    </a>
                {% endif %}
            </div>
            <div>
                <table id="energy-goals-scoreboard" class="table">
                    <tr>
                        <th>Rank</th>
                        <th>{{ TEAM_LABEL }}</th>
                        <th>Days met goal</th>
                    </tr>
                    {% for entry in goals_scoreboard %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {{ entry.team__name }}
                            </td>
                            <td style="text-align: right; padding-right: 20px">{{ entry.completions }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    {% if not no_carousel %}
    </div>
    </div>
    <div class="content-box-contents">#1 at end of round wins a
      <a href="/prizes"> prize!</a>
    </div>
    {% endif %}
</div>
