{% load class_tags %}

<div class="content-box">
    <div class="content-box-title">
        {{ view_objects.scoreboard.current_round }} Scoreboard <a
            href="#" style="float: right"> <img
            src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png"
            width="20" align="center"
            title="Click to get help about this window"
            onclick="toggleHelp('widget', 'points-scoreboard'); return false;" /></a>
    </div>
    <div class="row-fluid">
        <div id="score-carousel" class="span12 carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>{{ TEAM_LABEL.capitalize }}</th>
                                <th>Overall</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in view_objects.scoreboard.team_standings %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ f.profile__team__name }}</td>
                                <td>{{ f.points }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="item">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Individual</th>
                                <th>Overall</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in view_objects.scoreboard.profile_standings %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ p.profile__name }}</td>
                                <td>{{ p.points }}</td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="item">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Individual</th>
                                <th>{{ view_objects.scoreboard.team }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in view_objects.scoreboard.user_team_standings %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ p.name }}</td>
                                <td>{{ p.current_round_points }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="item">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>{{ TEAM_LABEL.capitalize }}</th>
                                <th>Participation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in view_objects.scoreboard.team_participation %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ f }}</td>
                                <td>{{ f.active_participation }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="energy-scoreboard-message">#1 at end of round wins a 
                <a href="/win"> prize!</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#score-carousel").carousel();
    });
</script>