<div id="outer-box" class="content-box"> 
    {% if not view_objects.scoreboard.no_carousel %}
    <div id="score-carousel">
    {% endif %}
        {% for round_name, standings in view_objects.scoreboard.round_standings.items %}
        <div class="item">
            <div class="content-box-title set-width-outer-width">
                {{ round_name }} Point Scoreboard
                {% if not view_objects.scoreboard.no_carousel %}
                    <a href="#" style="float: right">
                       <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png"
                            width="20" align="center"
                            title="Click to get help about this window"
                            onclick="toggleHelp(event, 'widget', 'points-scoreboard'); return false;" />
                       </a>
                {% endif %}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>{{ TEAM_LABEL.capitalize }}</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                {% for f in standings.team_standings %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ f.profile__team__name }}</td>
                        <td>{{ f.points }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="item">
            <div class="content-box-title set-width-outer-width">
                {{ round_name }} Point Scoreboard
                {% if not view_objects.scoreboard.no_carousel %}
                    <a href="#" style="float: right">
                        <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png"
                             width="20" align="center"
                             title="Click to get help about this window"
                             onclick="toggleHelp(event, 'widget', 'points-scoreboard'); return false;" />
                    </a>
                {% endif %}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Individual</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in standings.profile_standings %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.profile__name }}</td>
                        <td>{{ p.points }}</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if standings.user_team_standings %}
        <div class="item">
            <div class="content-box-title set-width-outer-width">
                {{ round_name }} Point Scoreboard
                {% if not view_objects.scoreboard.no_carousel %}
                   <a href="#" style="float: right">
                       <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png"
                            width="20" align="center"
                            title="Click to get help about this window"
                            onclick="toggleHelp(event, 'widget', 'points-scoreboard'); return false;" />
                   </a>
                {% endif %}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Individual in {{ view_objects.scoreboard.team }}</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in standings.user_team_standings %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.current_round_points }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="item">
            <div class="content-box-title set-width-outer-width">
                {{ round_name }} Participation Scoreboard
                {% if not view_objects.scoreboard.no_carousel %}
                   <a href="#" style="float: right">
                       <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png"
                            width="20" align="center"
                            title="Click to get help about this window"
                            onclick="toggleHelp(event, 'widget', 'points-scoreboard'); return false;" />
                   </a>
                {% endif %}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>{{ TEAM_LABEL.capitalize }}</th>
                        <th>Participation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in standings.team_participation %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ f }}</td>
                        <td>{{ f.active_participation }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% if not view_objects.scoreboard.no_carousel %}
        </div>
        <div id="resource-scoreboard-message" class="scoreboard-message">#1 at end of round wins a
             <a href="/win"> prize!</a>
        </div>       
        {% endif %}
    </div>
{% if not view_objects.scoreboard.no_carousel %}
<script type="text/javascript">
    $(document).ready(function () {
    	  // Calculate the height of the items in the scoreboard.
    	  // Fix the height of all items to that height.
    	  var maxHeight = 45;
    	  var height = 0;
    	  $("#score-carousel .item").each(function(index, item) {
    	    height = $(item).height();
    	    // console.log("height of item is " + height);
    	    if (height > maxHeight){
    	      maxHeight = height;
    	    }
    	  });
          maxHeight += $("#resource-scoreboard-message").height();    
          $("#score-carousel").height(maxHeight);
          
          var outerWidth = $("#outer-box").width();
//           console.log("Outer width is " + outerWidth);
          $(".set-width-outer-width").each (function(index, item) {
              item.style.width = outerWidth + "px";
          });

          $('#score-carousel').cycle({
              fx: "fade",
              timeout: 3500,
              delay: -1000,
              sync: true
          });
    });

    $(window).resize(function() {
        var outerWidth = $("#outer-box").width();
//         console.log("Outer width is " + outerWidth);
        $(".set-width-outer-width").each (function(index, item) {
//          console.log("Setting " + item + "'s width to " + outerWidth);
            item.style.width = outerWidth + "px";
        });     
    }); 
    
{% endif %}
</script>
