#devices {
    text-align: center;
    margin-top: 60px;
}

#devices .deviceWrap {
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 60px 0 20px 0px;
    min-width: 1024px;
}

#devices .device {
    margin: 0 auto;
    position: relative;
}

#devices .device .flashingTop,#devices .device .flashingBottom {
    position: absolute;
    left: 0;
    width: 100%;
}

#devices .device .flashingTop {
    top: 0;
    padding-top: 1px;
}

#devices .device .flashingBottom {
    bottom: 0;
}

#devices iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid #d1d1d1;
}

/*
 * Devices
 */
.android-515x295-landscape {
    background-image: url(../images/android-515x295-landscape.png);
    padding: 19px 0 20px 0;
}

.android-515x295-portrait {
    background-image: url(../images/android-295x515-portrait.png);
    padding: 60px 0 78px 0;
}

.iphone-portrait {
    background-image: url(../images/iphone-portrait.png);
    padding: 115px 0 117px 0px;
}

.iphone-landscape {
    background-image: url(../images/iphone-landscape.png);
    padding: 23px 0 24px 0px;
}

.ipad-portrait {
    background-image: url(../images/ipad-portrait.png);
    padding: 111px 0 113px 0;
}

.ipad-landscape {
    background-image: url(../images/ipad-landscape.png);
    padding: 101px 0 103px 0;
}

.kindle-portrait {
    background-image: url(../images/kindle-portrait.png);
    padding: 82px 0 149px 0;
}

.kindle-landscape {
    background-image: url(../images/kindle-landscape.png);
    padding: 98px 0 96px 0;
}
