{% load cache %}
<div class="content-box-contents">
{% cache 3600 commitments request.user %}
    {% if view_objects.my_commitments.commitment_members %}
        <table>
            <tr>
                <th class="content-column">Commitment</th>
                <th >Expires</th>
            </tr>
            {% for member in view_objects.my_commitments.commitment_members %}
                <tr>
                    <td>
                        <a href="{% url activity_task 'commitment' member.action.slug %}">
                            {{ member.action.title }}</a>
                    </td>
                    <td >{{ member.completion_date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You are not participating in any commitments</p>
    {% endif %}
{% endcache %}

</div>
