{% extends "logged_in_base.html" %}

{% block page_title %}
    Advanced
{% endblock %}

{% block selected_icon %}selected-advanced{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
    {% if not hide_about %}
        <div id="canopy-about" class="content-box content-box-contents">
            <div style="text-align: right">
                <a id="canopy-hide-about" href="javascript:void(0);">Close</a>
            </div>
            <p>
                Welcome to the canopy! As one of the top players of the Kukui Cup, you now have
                exclusive access to this advanced area that provides: advanced energy visualizations,
                missions, and a private Wall for communication among Canopy members as well as the
                administrators of the Kukui Cup. Use the Canopy to gain greater insight into the Hale
                Aloha energy usage and how you can help your lounge as well as all of the students play
                the Kukui Cup more effectively.
            </p>
        </div>
    {% endif %}

    {% if view_objects.canopy_viz %}
        {% include "widgets/canopy_viz/templates/index.html" %}
    {% endif %}

    <div class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span5">
                {% if view_objects.canopy_member %}
                    {% include "widgets/canopy_member/templates/index.html" %}
                {% endif %}
            </div>
            <!-- right column -->
            <div class="span7">
                {% if view_objects.wallpost %}
                    {% include "widgets/wallpost/templates/index.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
