{% extends "logged_in_base.html" %}

{% block page_title %}
    Energy
{% endblock %}

{% block selected_icon %}selected-energy{% endblock %}

{% block extra_head %}
  {% if MAKAHIKI_USE_COMPILED_LESS %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/energy.css">
  {% else %}
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}less/energy.less">
  {% endif %}
    <script src="{{STATIC_URL}}js/news.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span5">
                {% if view_objects.energy_power_meter %}
                <div id='energy_power_meter'>
                    {% include "widgets/energy_power_meter/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.resource_scoreboard_energy %}
                <div id='resource_scoreboard'>
                    {% include "widgets/resource_scoreboard/energy/templates/index.html" %}
                </div>
                {% endif %}
            </div>
            <!-- right column -->
            <div class="span7">
                {% if view_objects.energy_goal %}
                <div id='energy_goal'>
                    {% include "widgets/energy_goal/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.wallpost %}
                <div id='wallpost'>
                    {% include "widgets/wallpost/templates/index.html" %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <table>
    <tr><td width="40%" valign="top">
    </td><td width="60%" valign="top">
    </td>
    </tr>
    </table>
{% endblock %}