{% extends "logged_in_base.html" %}

{% block page_title %}
    Help
{% endblock %}

{% block selected_icon %}selected-help{% endblock %}

{% block extra_head %}
  {% if MAKAHIKI_USE_COMPILED_LESS %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/help.css">
  {% else %}
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}less/help.less">
  {% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span6">
                {% if view_objects.help__intro %}
                <div id='help_intro'>
                    {% include "widgets/help/intro/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.help__faq %}
                <div id='help_faq'>
                    {% include "widgets/help/faq/templates/index.html" %}
                </div>
                {% endif %}
            </div>
            <!-- right column -->
            <div class="span6">
                {% if view_objects.help__rule %}
                <div id='help_rule'>
                    {% include "widgets/help/rule/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.ask_admin %}
                <div id='ask_admin'>
                    {% include "widgets/ask_admin/templates/index.html" %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}