{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
    Help
{% endblock %}

{% block selected_icon %}selected-help{% endblock %}

{% block extra_head %}
    {% import_page_css "help" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
    <div {% get_id_and_classes "news-body" "responsive" %}>
        <div {% get_id_and_classes "base-row" "responsive" %}>
            <!-- left column -->
            <div {% get_id_and_classes "even-col" "responsive" %}>
                <div id='help_intro'>
                    {% include "widgets/help/intro/templates/index.html" %}
                </div>
                <div id='help_faq'>
                    {% include "widgets/help/faq/templates/index.html" %}
                </div>
            </div>
            <!-- right column -->
            <div {% get_id_and_classes "even-col" "responsive" %}>
                <div id='help_rule'>
                    {% include "widgets/help/rule/templates/index.html" %}
                </div>
                <div id='ask_admin'>
                    {% include "widgets/ask_admin/templates/index.html" %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}