{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
    Learn
{% endblock %}

{% block selected_icon %}selected-learn{% endblock %}

{% block extra_head %}
    {% import_page_css "learn" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span5">
                {% if view_objects.upcoming_events %}
                <div id='upcoming_events'>
                    {% include "widgets/upcoming_events/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.scoreboard %}
<!--                 <div id='scoreboard'> -->
                    {% include "widgets/scoreboard/templates/index.html" %}
<!--                 </div> -->
                {% endif %}
            </div>
            <!-- right column -->
            <div class="span7">
                {% if view_objects.smartgrid %}
                <div id='smartgrid'>
                    {% include "widgets/smartgrid/templates/index.html" %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

