{% extends "logged_in_base.html" %}

{% block page_title %}
    Learn
{% endblock %}

{% block selected_icon %}selected-learn{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span7">
                {% if view_objects.smartgrid %}
                <div>
                    {% include "widgets/smartgrid/templates/index.html" %}
                </div>
                {% endif %}
            </div>
            <!-- right column -->
            <div class="span5">
                {% if view_objects.upcoming_events %}
                <div>
                    {% include "widgets/upcoming_events/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.scoreboard %}
                    {% include "widgets/scoreboard/templates/index.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

