{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
    News
{% endblock %}

{% block selected_icon %}selected-news{% endblock %}

{% block extra_head %}
    {% import_page_css "news" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
    <div {% get_id_and_classes "news-body" "responsive" %}>
        <div {% get_id_and_classes "base-row" "responsive" %}>
            <!-- left column -->
            <div {% get_id_and_classes "even-col" "responsive" %}>
                <div id='team_members'>
                    {% include "widgets/team_members/templates/index.html" %}
                </div>
                <div id='wallpost'>
                    {% include "widgets/wallpost/templates/index.html" %}
                </div>
            </div>
            <!-- right column -->
            <div {% get_id_and_classes "even-col" "responsive" %}>
                <div id='upcomping_events'>
                    {% include "widgets/upcoming_events/templates/index.html" %}
                </div>
                <div id='popular_tasks'>
                    {% include "widgets/popular_tasks/templates/index.html" %}
                </div>
                <div id='my_commitments'>
                    {% include "widgets/my_commitments/templates/index.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}