{% extends "logged_in_base.html" %}

{% block page_title %}
    News
{% endblock %}

{% block selected_icon %}selected-news{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span6">
                {% if view_objects.team_members %}
                <div>
                    {% include "widgets/team_members/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.badge_scoreboard %}
                <div>
                    {% include "widgets/badge_scoreboard/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.wallpost %}
                <div>
                    {% include "widgets/wallpost/templates/index.html" %}
                </div>
                {% endif %}
            </div>
            <!-- right column -->
            <div class="span6">

                {% if view_objects.upcoming_events %}
                <div>
                    {% include "widgets/upcoming_events/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.popular_tasks %}
                <div>
                    {% include "widgets/popular_tasks/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.my_commitments %}
                <div>
                    {% include "widgets/my_commitments/templates/index.html" %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}