{% extends "logged_in_base.html" %}

{% block page_title %}
    Profile
{% endblock %}

{% block selected_icon %}selected-profile{% endblock %}

{% block extra_head %}
  {% if MAKAHIKI_USE_COMPILED_LESS %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/profile.css">
  {% else %}
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}css/profile.less">
  {% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span6">
                {% if view_objects.my_info %}
                <div class="content-box">
                    {% include "widgets/my_info/templates/index.html" %}
                </div>
                {% endif %}
            </div>

            <!-- right column -->
            <div class="span6">
                {% if view_objects.badges %}
                <div class="content-box">
                    {% include "widgets/badges/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.my_commitments %}
                <div class="content-box">
                    {% include "widgets/my_commitments/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.my_achievements %}
                <div class="content-box">
                    {% include "widgets/my_achievements/templates/index.html" %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
