{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
    Profile
{% endblock %}

{% block selected_icon %}selected-profile{% endblock %}

{% block extra_head %}
    {% import_page_css "profile" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
    <table><tr><td width="50%" valign="top">
            <div id='my_info'>
                {% include "widgets/my_info/templates/index.html" %}
            </div>
            <div id='badges'>
                {% include "widgets/badges/templates/index.html" %}
            </div>
        </td><td width="50%" valign="top">
            <div id='my_commitments'>
                {% include "widgets/my_commitments/templates/index.html" %}
            </div>
            <div id='my_achievements'>
                {% include "widgets/my_achievements/templates/index.html" %}
            </div>
    </td></tr></table>
{% endblock %}