{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
    Profile
{% endblock %}

{% block selected_icon %}selected-profile{% endblock %}

{% block extra_head %}
    {% import_page_css "profile" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span6">
                {% if view_objects.my_info %}
                <div class="content-box">
                    {% include "widgets/my_info/templates/index.html" %}
                </div>
                {% endif %}
            </div>

            <!-- right column -->
            <div class="span6">
                {% if view_objects.badges %}
                <div class="content-box">
                    {% include "widgets/badges/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.my_commitments %}
                <div class="content-box">
                    {% include "widgets/my_commitments/templates/index.html" %}
                </div>
                {% endif %}
                {% if view_objects.my_achievements %}
                <div class="content-box">
                    {% include "widgets/my_achievements/templates/index.html" %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
