{% extends "logged_in_base.html" %}

{% block page_title %}
    Water
{% endblock %}

{% block selected_icon %}selected-water{% endblock %}

{% block extra_head %}
<!--     <script src="{{STATIC_URL}}js/news.js" type="text/javascript"></script> -->
    <script src="{{STATIC_URL}}js/wall-post.js" type="text/javascript"></script>    
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span5">
                {% if view_objects.resource_scoreboard__water %}
                    <div>
                        {% include "widgets/resource_scoreboard/water/templates/index.html" %}
                    </div>
                {% endif %}
            </div>
            <!-- right column -->
            <div class="span7">
                {% if view_objects.resource_goal__water %}
                    <div>
                        {% include "widgets/resource_goal/water/templates/index.html" %}
                    </div>
                {% endif %}
                {% if view_objects.wallpost %}
                    <div>
                        {% include "widgets/wallpost/templates/index.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <table>
        <tr><td width="40%" valign="top">
        </td><td width="60%" valign="top">
        </td>
        </tr>
    </table>
{% endblock %}