{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
    Win
{% endblock %}

{% block selected_icon %}selected-win{% endblock %}

{% block extra_head %}
    {% import_page_css "win" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
    <table><tr><td width="50%">
        <div id='prizes'>
            {% include "widgets/prizes/templates/index.html" %}
        </div>
    </td><td width="50%">
        <div id='raffle'>
            {% include "widgets/raffle/templates/index.html" %}
        </div>
    </td></tr></table>
{% endblock %}