{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
    Win
{% endblock %}

{% block selected_icon %}selected-win{% endblock %}

{% block extra_head %}
    {% import_page_css "win" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
    <div {% get_id_and_classes "prizes-body" "responsive" %}>
        <div {% get_id_and_classes "base-row" "responsive" %}>
            <!-- left column -->
            <div {% get_id_and_classes "even-col" "responsive" %}>
                <div id='prizes'>
                    {% include "widgets/prizes/templates/index.html" %}
                </div>
            </div>
            <!-- right column -->
            <div {% get_id_and_classes "even-col" "responsive" %}>
                <div>
                    {% include "widgets/raffle/templates/index.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}