{% extends "logged_in_base.html" %}

{% block page_title %}
    Win
{% endblock %}

{% block selected_icon %}selected-win{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/default/pages/win.css">
{% endblock %}

{% block body %}
    <div id="prizes-body" class="container-fluid">
        <div class="row-fluid">
            <!-- left column -->
            <div class="span6">
                <div id='prizes' class="row-fluid">
                    {% include "widgets/prizes/templates/index.html" %}
                </div>
            </div>
            <!-- right column -->
            <div class="span6">
                <div class="row-fluid">
                    {% include "widgets/raffle/templates/index.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}