{% extends "task_base.html" %}

{% block action_completed_info %}
            {% if action.member.days_left > 0 %}
                <b>Thank you!</b> You've earned <b>{{ SCORE_SETTINGS.signup_bonus_points }}</b> points by committing.
                <br/>
                Please come back on <b>{{ action.member.completion_date|date:"l m/d" }}
                ({{ action.member.days_left }} days left)</b> to get the rest of your
                points.
            {% else %}
                <b>Thank you for committing to this for {{ action.duration }} days.</b>
                Click on the "<b>I Did it</b>" button to get the rest of your points.
            {% endif %}
{% endblock %}


{% block action_not_completed %}
    {% if action.can_commit %}
        {% if action.social_bonus > 0 %}
            <a onclick="task_form_overlay(event)">
                <button id="go-button" style="cursor:pointer;" class="btn btn-widget">I will do this!
                    <img src="{{ STATIC_URL}}images/right.png"
                         width="25" align="center">
                </button>
            </a>
        {% else %}
            <form action='{% url activity_add_task action.type action.slug %}'
                  method='post'>
                {% csrf_token %}
                <button id="submit_button4" style="cursor:pointer;" class="btn btn-widget"
                        onclick='$("#submit_button4").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
                    I will do this!
                    <img src="{{ STATIC_URL}}images/right.png"
                         width="25" align="center">
                </button>
            </form>
        {% endif %}
    {% else %}
        <b>You already have 5 active commitments. <br/>
            You can make this commitment once any of your active commitments
            are completed.
        </b>
    {% endif %}
{% endblock %}

{% block action_completed_button %}
    {% if action.member.approval_status == "approved" and action.can_commit %}
        {% if action.can_commit %}
            <a onclick="task_form_overlay(event)">
                <button id="go-button" style="cursor:pointer;" class="btn btn-widget">I will do this again!
                    <img src="{{ STATIC_URL}}images/right.png" width="25" align="center">
                </button>
            </a>
        {% endif %}
    {% else %}
        {% if action.member.days_left > 0 %}
            <form action='{% url activity_drop_task action.type action.slug %}'
                  method='post'>
                {% csrf_token %}
                <button id="submit_button2" style="cursor:pointer;" class="btn btn-widget"
                        onclick='$("#submit_button2").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
                    Drop this commitment
                    <img src="{{ STATIC_URL}}images/left.png"
                         width="25" align="center">
                </button>
            </form>
        {% else %}
            <a onclick="task_form_overlay(event)">
                <button id="go-button" style="cursor:pointer;" class="btn btn-widget">I Did it
                    <img src="{{ STATIC_URL}}images/right.png" width="25" align="center">
                </button>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
