{% if action.event.is_event_completed %}
    Please enter the confirmation code you received from the event:
    {{ form.response.errors }}
    {{ form.response }}

    {% if action.social_bonus > 0 %}
        <p/>
        (Optional) If you did this with a friend or friends, please enter
        their Kukui Cup email addresses here for a social bonus:<br/>
        {{ form.social_email.errors }}
        {{ form.social_email }}
    {% endif %}

    <div class="activity-task-form-content-button">
        <button id="submit_form_button1" class="btn btn-widget" style="cursor:pointer;"
                onclick='$("#submit_form_button1").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
            Submit
        </button>
        <button class="btn btn-widget" style="cursor:pointer;"
                onclick='hide_task_form_overlay(); return false;'>Cancel
        </button>        
    </div>
{% else %}
    You will earn {{ SCORE_SETTINGS.signup_bonus_points }} points for signing up for
    the {{ action.type }}.
    <div class="activity-task-form-content-button">
        <button id="submit_form_button2" class="btn btn-widget" style="cursor:pointer;"
                onclick='$("#submit_form_button2").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
            OK
        </button>
        <button class="btn btn-widget" style="cursor:pointer;"
                onclick='hide_task_form_overlay(); return false;'>Cancel
        </button>
    </div>
{% endif %}