<div class="activity-task-form-content">
    {% if form.is_multipart %}
        <form id="myform" enctype="multipart/form-data"
              action="{% url activity_add_task action.type action.slug %}" method="post">
    {% else %}
        <form id="myform" action="{% url activity_add_task action.type action.slug %}" method="post">
    {% endif %}

    {% csrf_token %}

    {% if admin_message %}
        Admin message: {{ admin_message }}
    {% endif %}

    <p/>
    {% if action.type == "event" or action.type == "excursion" %}          {# event #}
        {% if action.event.is_event_completed %}
            Please enter the confirmation code you received from the event:
            {{ form.response.errors }}
            {{ form.response }}

            {% if action.social_bonus > 0 %}
                <p/>
                (Optional) If you did this with a friend or friends, please enter
                one of their UH email addresses here for a social bonus:<br/>
                {{ form.social_email.errors }}
                {{ form.social_email }}
            {% endif %}

            {% if action.is_group %}
                <p/>
                Please enter the UH email address of other team members that complete this task with
                you:<br/>
                {{ form.social_email.errors }}
                email #1 : {{ form.social_email }}
                <br/>
                {{ form.social_email2.errors }}
                email #2 : {{ form.social_email2 }}
            {% endif %}
            <div class="activity-task-form-content-button">
                <button id="submit_form_button1" class="btn btn-widget" style="cursor:pointer;"
                        onclick='$("#submit_form_button1").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
                    Submit
                </button>
                <button class="btn btn-widget" style="cursor:pointer;"
                        onclick='$("#taskModal").modal("hide"); return false;'>Cancel
                </button>

            </div>
        {% else %}
            You will earn 2 {% if action.is_canopy %} Karma {% endif %} points for signing up for
            the {{ action.type }}.
            <div class="activity-task-form-content-button">
                <button id="submit_form_button2" class="btn btn-widget" style="cursor:pointer;"
                        onclick='$("#submit_form_button2").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
                    OK
                </button>
                <button class="btn btn-widget" style="cursor:pointer;"
                        onclick='$("#taskModal").modal("hide"); return false;'>Cancel
                </button>
            </div>
        {% endif %}

    {% endif %}

    {% if action.type == "commitment" %}     {# commitment #}
        {% if not approval or approval.award_date %}
            You will earn 2 {% if action.is_canopy %} Karma {% endif %} points for making this
            commitment.
            <p/>
            You will need to come back after {{ action.duration }} days to get the rest of your
            points.
            {% if action.social_bonus > 0 %}
                <p/>
                (Optional) If you want to do this with a friend or friends, please enter
                one of their UH email addresses here for a social bonus:<br/>
                {{ form.social_email.errors }}
                {{ form.social_email }}
            {% endif %}
            {% if action.is_group %}
                <p/>
                Please enter the UH email address of other team members that complete this task with
                you:<br/>
                {{ form.social_email.errors }}
                email #1 : {{ form.social_email }}
                <br/>
                {{ form.social_email2.errors }}
                email #2 : {{ form.social_email2 }}
            {% endif %}
            <div class="activity-task-form-content-button">
                <button id="submit_form_button3" class="btn btn-widget" style="cursor:pointer;"
                        onclick='$("#submit_form_button3").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
                    OK
                </button>
            </div>
        {% else %}
            Thank you for the commitment.
            <p/>
            You will earned {{ action.point_value }} {% if action.is_canopy %} Karma {% endif %} points.
            {% if action.social_bonus > 0 %}
                <p/>
                (Optional) If you did this with a friend or friends, please enter
                one of their UH email addresses here for a social bonus:<br/>
                {{ form.social_email.errors }}
                {{ form.social_email }}
            {% endif %}
            {% if action.is_group %}
                <p/>
                Please enter the UH email address of other team members that complete this task with
                you:<br/>
                {{ form.social_email.errors }}
                email #1 : {{ form.social_email }}
                <br/>
                {{ form.social_email2.errors }}
                email #2 : {{ form.social_email2 }}
            {% endif %}
            <div class="activity-task-form-content-button">
                <button id="submit_form_button4" class="btn btn-widget" style="cursor:pointer;"
                        onclick='$("#submit_form_button4").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
                    OK
                </button>
            </div>
        {% endif %}
    {% endif %}

    {% if action.type == "activity" %}          {# activity #}
        {% if form.image_response %}         {# image #}
            {{ action.activity.confirm_prompt }} <p/>
            {% if form.response %}
                {{ form.response.errors }}
                {{ form.response }}
            {% endif %}
            {{ form.image_response.errors }}
            {{ form.image_response }}

        {% else %}
            {% if form.action_question %}                                {# question #}
                Please answer the following question(s) and submit your answer(s).
                <br>You can also click on the "Cancel" button to go back to review the information.
                <p/>
                {{ action.activity.confirm_prompt }} <p/>
                {{ form.question }}
                <b>{{ form.action_question.question }}</b> <br/>
                {% if form.action_question.questionchoice_set.count > 0 %}    {# choice response question #}
                    {{ form.choice_response.errors }}
                    {{ form.choice_response }}
                {% else %}                                        {# text response question #}
                    {{ form.response.errors }}
                    {{ form.response }}
                {% endif %}
            {% else %}                                       {# free text #}
                {{ action.activity.confirm_prompt }} <p/>
                {{ form.response.errors }}
                {{ form.response }}
            {% endif %}
        {% endif %}
        {% if action.social_bonus > 0 %}
            <p/>
            (Optional) If you did this with a friend or friends, please enter
            one of their UH email addresses here for a social bonus: <br/>
            {{ form.social_email.errors }}
            {{ form.social_email }}
        {% endif %}
        {% if action.is_group %}
            <p/>
            Please enter the UH email address of other team members that complete this task with
            you:<br/>
            {{ form.social_email.errors }}
            email #1 : {{ form.social_email }}
            <br/>
            {{ form.social_email2.errors }}
            email #2 : {{ form.social_email2 }}
        {% endif %}
        <div class="activity-task-form-content-button">
            <button id="submit_form_button5" class="btn btn-widget" style="cursor:pointer;"
                    onclick='$("#submit_form_button5").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
                Submit
            </button>
            <button id="cancel_form_button5" class="btn btn-widget" style="cursor:pointer;"
                    onclick='$("#taskModal").modal("hide"); return false;'>Cancel
            </button>
        </div>
    {% endif %}

    {% if action.type == "survey" %}          {# survey #}
        {{ action.confirm_prompt }} <p/>
        {% for field in form %}
            <b>{{ field.label }}</b> <br/>
            {{ field.errors }}
            {{ field }}
            <p/>
        {% endfor %}
        <div class="activity-task-form-content-button">
            <button id="submit_form_button6" class="btn btn-widget" style="cursor:pointer;"
                    onclick='$("#submit_form_button6").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>
                Submit
            </button>
            <button class="btn btn-widget" style="cursor:pointer;"
                    onclick='$("#taskModal").modal("hide"); return false;'>Cancel
            </button>
        </div>
    {% endif %}
    </form>
{% if form.image_response %} 
            <div id="ios-mobile-device"></div>
<script src="{{STATIC_URL}}js/picup.js" type="text/javascript"></script>
<script>
var currentParams = {
        'callbackURL'       : escape(window.location),
        'debug'             : 'true',
        'postURL'           : escape(window.location.protocol + '//'+ window.location.host + '{% url activity_add_task action.type action.slug %}'),
        'purpose'           : escape('Upload image to Makahiki2.'),
        'referrername'      : escape('{{user}}'),
}

// Picup callback function
function picUploaded(paramHash) {
    
}

function complain() {
    log_js_action("smartgrid", "{{action.slug}}", "iPhone unhappy");
    $('#taskModal').modal('hide');
    return false;   
}

var canHandleFileupload = true;
$(document).ready(function() {
    var submit_button = document.getElementById('submit_form_button5');
    var cancel_button = document.getElementById('cancel_form_button5');
    var ios_mobile_div = document.getElementById('ios-mobile-device');
    var id_image_response = document.getElementById('id_image_response');
    
if((navigator.userAgent.match(/iPhone/i)) || 
   (navigator.userAgent.match(/iPod/i)) ||
   (navigator.userAgent.match(/iPad/i))) {
//      Picup.convertFileInput('id_image_response', currentParams);
    id_image_response.style.visibility = 'hidden';
    submit_button.style.visibility = 'hidden'; 
    cancel_button.style.visibility = 'hidden';
    ios_mobile_div.innerHTML = "<p>File upload on iPhone not available. Please upload your file from your laptop. Click <button class=\"btn btn-widget\" style=\"cursor:pointer;\" onclick='complain();'>here</button> if you are unhappy with this workaround.</p>";
   };
});
</script>
{% endif %}
</div>

