{% extends "logged_in_base.html" %}

{% load markup %}

{% load avatar_tags %}

{% block page_title %}
    Learn
{% endblock %}

{% block selected_icon %}selected-learn{% endblock %}

{% block extra_head %}
  {% if MAKAHIKI_USE_COMPILED_LESS %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/learn.css">
  {% else %}
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}less/learn.less">
  {% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
    <div class="span6">
        {% include "task_info.html" %}
    </div>

    <div class="span6">
        {% include "task_content.html" %}
    </div>
    </div>
</div>    
{% endblock %}

