{% with projects=view_objects.projects %}
<div id="projects-list" class="content-box">
    <div class="content-box-title">
        <h3>Game of Projects</h3>
        <a href="#" style="float: right">
            <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                 title="Click to get help about this window"
                 onclick="toggleHelp(event, 'widget', 'projects'); return false;"/></a>
    </div>
    <div class="content-box-contents">
        <b>Projects</b><br>
        {% for project in projects.projects %}
          <div><em>Title: {{ project.title }}</em></div>
          <div><i>Short description: {{ project.short_description }}</i></div>
          <div>Project {% if not project.approved %}not yet {% endif %}approved</div>
          <br>
        {% endfor %}
        <p></p>
        <hr>    
        <div>
        {% include "create_project.html" with form=projects.form %}
        </div>
    </div>
</div>
{% endwith %}