/*------- Quest styles -----*/
#quest-box {
    background: none;
    background-color: rgba(64,66,66,0.9);
    color: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 5px;
}

#quest-title {
    margin: 0;
    display: inline;
    vertical-align: bottom;
    float:left;
    text-align: center;
    width: 850px;
    margin-left: 25px;
}

#quest-help-icon {
    height: 17px;
    cursor: pointer;
    float: right;
}

.quest-options {
    float: right;
}

#quest-contents {
    text-align: left;
}

#quest-box h4 {
    margin: 5px 0;
    color: white;
}

#quest-list {
    list-style: none;
    padding: 0 10px 5px 5px;
    margin: 10px auto 5px;
    text-align: center;
}

#quest-list li {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline;
}

#quest-list li a {
    color: white;
    font-size: 1.1em;
}

#quest-list li.selected {
    background-color: rgba(40,42,42, 1.0);
    /*  font-weight: bold;*/
}

#quest-list li a.quest-user-quest {
    color: #FCE988;
}

#quest-complete-dialog {
    text-align: left;
}

#quest-hide {
    color: white;
    float: right;
    display: block;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 3px;
}

