{% with DEFAULT_VIEW_OBJECTS.notifications as notifications %}

{% if notifications %}
    {% if notifications.unread %}
        <ul class="notification-list">
            {% for notification in notifications.unread %}
                {% include "widgets/notifications/templates/notifications/list-item.html" %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if notifications.alerts %}
        {% include "widgets/notifications/templates/notifications/dialog.html" %}
    {% endif %}
{% endif %}
{% endwith %}
