{% with profiles=view_objects.status__badges.profiles %}
    <div class="content-box-title">
    Awarded Badges
    </div>
    <div class="widget-content">
        <table class="table-striped">
            <thead>
                <tr>
                    <th class="column-text" width="25%">Player</th>
                    <th class="column-text" width="75%">Badges</th>
                </tr>
            </thead>
            <tbody>
            {% for p in profiles %}
                <tr>
                    <td class="column-text">{{p.name}}</td>
                    <td>
                    {% for ba in p.badgeaward_set.all %}
                        <div class="badge-theme-{{ba.badge.theme}}"><p>{{ba.badge.label}}</p></div>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endwith %}