{% load avatar_tags %}

<div class="content-box">
    <div class="content-box-title">
        <h3>{{ TEAM_LABEL }} members</h3>
        <a href="#" style="float: right">
            <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20" align="center"
                 title="Click to get help about this window"
                 onclick="toggleHelp('widget', 'news-directory'); return false;"
                    /></a>
        <br style="clear: both"/>
    </div>
    <div>
        <ul id="news-members-list" >
        {% for member in view_objects.team_members.team_members %}
        <li>
          <a href="{% url news_team_members %}#{{member.name|slugify}}">
            <img src="{% avatar_url member.user 40 %}" alt="Photo of {{ member.name }}"
                 title="Photo of {{ member.name }}" align="top"/>

            <div>
                {{ member.name }}
            </div>
          </a>
        </li>
        {% endfor %}
        </ul>
        <div id='news-members-link'>
            <a href="{% url news_team_members %}">View all members</a>
        </div>
    </div>
</div>

