{% load avatar_tags %}

<div class="span1">
  <img class="member-image" src="{% avatar_url member 40 %}"
       alt="Photo of {{ member.name }}" title="Photo of {{ member.name }}"
       align="top"/>
</div>

{% with member.user as user %}
<div class="team-member-details span3">
  <a name="{{member.name|slugify}}">
      <h4>{{ member.name }}</h4>

      {% for badge in user.badges_earned.all %}
          <a href="{% url profile_badges %}"><img class="member-badges"
                                                  src="{{STATIC_URL}}{{badge.image}}"
                                                  alt="{{badge.badge.name}}"
                                                  title="{{badge.badge.name}}"/></a>
      {% endfor %}
  </a>
  
  {% if user.is_superuser or user.is_staff %}
  <!-- Downloaded from http://www.iconarchive.com/show/silk-icons-by-famfamfam/award-star-gold-3-icon.html -->
  <img src="{{STATIC_URL}}images/award-star-gold-3-icon.png">Administrator
  {% endif %}
  
  <p>
  {% if CURRENT_ROUND %}
      Ranked #{{ member.current_round_overall_rank }} in {{ CURRENT_ROUND }}
      (#{{ member.overall_rank }} overall)
  {% else %}
      #{{ member.overall_rank }} overall
  {% endif %}
  </p>

  {# Check if the user is a participant or an admin without a team #}
  {% if member.team and member.points > 0 %}
  <p>
    {% if CURRENT_ROUND %}
        Points: {{ member.current_round_points }} points in {{ CURRENT_ROUND }}
        ({{ member.points }} points overall)
    {% else %}
        Points: {{ member.points }} points overall
    {% endif %}
  {% endif %}
  </p>
</div>

<div class="span8">
    {% with user.actionmember_set.all as action_members %}
        {% if action_members.count > 0 %}
            <h4>{{ member.name }}&apos;s Actions</h4>
            <ul class="team-member-commitments">
                {% for action_member in action_members %}
                    <li>
                        <a href="{% url activity_task action_member.action.type action_member.action.slug %}">{{ action_member.action }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% endwith %}