{% extends "logged_in_base.html" %}

{% load avatar_tags %}

{% block page_title %}
    Team Members
{% endblock %}

{% block selected_icon %}selected-news{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/default/pages/news.css">
{% endblock %}

{% block body %}
    <div id="team-members" class="content-box">
        <div id="team-members-title" class="content-box-title">
            {{ TEAM_LABEL }} Members
        </div>
        <div id="team-members-content">
            <a href="{% url news_index %}">Back to the news page</a>
            <ul id="team-member-detail-list" class="row-fluid">
                {% for member in team_members %}
                    <!-- {% cycle 'alt-row' '' as cycle_class %} -->
                    <li class="{{cycle_class}}">
                        {% include "member.html" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}