{% load notice_tags %}
<div id="notification-dialog" title="Notifications" style="display: none">
    <ul id="notification-dialog-list">
        {% for notification in notifications.alerts %}
            <li id="notification-dialog-{{notification.id}}"
                class="{{notification.style_class}} notification-item">
                <!-- FIXME: Don't like the width 530px -->
                <div class="notification-contents"
                     {% if notification.is_success %}style="width: 530px"{% endif %}>
                     <i class="{{notification.icon_class}}"></i>
                    <!--  FIXME: Don't like the width 600px -->
                    <div class='notice-content' {% if notification.is_success %}style="width: 470px"
                         {% else %}style="width: 600px"{% endif %}>
                        {{ notification.contents|safe }}
                    </div>
                </div>
                {% if notification.is_success %}
                    <div class="notification-options">
                        <a class="notification-share" href="javascript:void(0);">Click here to share on
                            Facebook</a>&nbsp;
                    </div>
                {% endif %}
                <br style="clear: both"/>
            </li>
        {% endfor %}
    </ul>
    <center>
        <button class="btn btn-widget">OK</button>
    </center>
</div>
<div id="notificationModal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Notifications</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul id="notification-dialog-list">
            {% for notification in notifications.alerts %}
                <li id="notification-dialog-{{notification.id}}"
                    class="{{notification.style_class}} notification-item">
                    <div class="notification-contents">
                        <div class='notice-icon'>
                            <i class="{{notification.icon_class}}"></i>
                        </div>
                        <div class='notice-content'>
                            {{ notification.contents|safe }}
                        </div>
                    </div>
                    {% if notification.is_success %}
                    <div class="notification-options">
                        <a class="notification-share" href="javascript:void(0);">Click here to share on
                            Facebook</a>&nbsp;
                    </div>
                    {% endif %}
                </li>
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
            $(".modal-footer .btn").click(function () {
                $.post("{% url notifications_read notification.id %}", function (data) {
                 //   $("#notification-item-{{notification.id}}").fadeOut();
                });
            });

            $(".notification-options .notification-share").click(function () {
                log_js_action("notification", "{{notification.id}}", "share");
                FB.ui(
                        {
                            method:'feed',
                            name:'Kukui Cup',
                            link:'http://{{request.META.HTTP_HOST}}',
                            picture:'http://{{request.META.HTTP_HOST}}{{STATIC_URL}}images/old-logo.png',
                            description:'{{notification.contents}}',
                            display:'popup'
                        },

                        function (response) {
                            if (response && response.post_id) {
                                log_js_action("notification", "{{notification.id}}", "shared");
                                $.post("{% url notifications_read notification.id %}", function (data) {
                                    $("#notification-item-{{notification.id}}").fadeOut();
                                });
                            }
                            else {
                                log_js_action("notification", "{{notification.id}}", "share-canceled");
                            }
                        }
                );
            });
        });
                </script>
            {% endfor %}
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-widget" data-dismiss="modal">OK</a>
    </div>

</div>
<div id="purr-container"></div>
<script type="text/javascript">
    $(document).ready(function () {
//         $("#notification-dialog").dialog({
//             modal:true,
//             width:700,
//             closeOnEscape:false,
//             position:["center", 150]
//         });

        var modalElement = $('#notificationModal');
        modalElement.modal({
            backdrop: true,
            keyboard: true,
            show: false
        }); 

        // set up event logging
        modalElement.on('shown', function() {
            log_js_action("notifications", "alert", 'view-lock-open');
        });
        modalElement.on('hidden', function() {
            log_js_action("notifications", "alert", 'view-lock-close');
        });
        modalElement.css('margin-top', (modalElement.outerHeight() / 2) * -1);
//         modalElement.modal('show');
        
//         $("#notification-dialog button").click(function () {
//             log_js_action("notifications", "alert", "close");
//             $("#notification-dialog").dialog("close");
//         });

        var notice = '<div class="notice">'
            + '<ul id="notification-dialog-list">'
            + '{% for notification in notifications.alerts %}'
            + '<li id="notification-dialog-{{notification.id}}"'
            + 'class="{{notification.style_class}} notification-item">'
            + '<div class="notification-contents"'
            + '{% if notification.is_success %}style="width: 530px"{% endif %}>'
            + '<i class="{{notification.icon_class}}"></i>'
            + '<div class="notice-content" {% if notification.is_success %}style="width: 470px"'
            + '{% else %}style="width: 600px"{% endif %}>'
            + '{{ notification.contents|safe|addslashes }}'
            + '</div>'
            + '</div>'
            + '{% if notification.is_success %}'
            + '<div class="notification-options">'
            + '<a class="notification-share" href="javascript:void(0);">Click here to share on'
            + 'Facebook</a>&nbsp;'
            + '</div>'
            + '{% endif %}'
            + '<br style="clear: both"/>'
            + '</li>'
            + '{% endfor %}'
            + '</ul>'
            + '</div>';
            $('#purr-container').css({
                position:'absolute',
                left: ($(window).width() - $(notice).outerWidth())/2,
                top: ($(window).height() - $(notice).outerHeight())/2
            });
            
            $(notice).purr(
                    {
                        usingTransparentPNG:true,
                        fadeInSpeed:600,
                        fadeOutSpeed:600,
                        removeTimer:6000,
                        isSticky:false
                    });
            $('#purr-container').css({
                position:'absolute',
                left: ($(window).width() - $('#purr-container').outerWidth())/2,
                top: ($(window).height() - $('#purr-container').outerHeight())/2
            });
            
            
    });
</script>

{% mark_alerts_displayed request notifications.alerts %}
