{% load notice_tags %}

<div id="notificationModal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Notifications</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul id="notification-dialog-list">
            {% for notification in notifications.alerts %}
                <li id="notification-dialog-{{notification.id}}"
                    class="{{notification.style_class}} notification-item">
                            <i class="{{notification.icon_class}}"></i>
                            {{ notification.contents|safe }}
                            {% if notification.is_success %}
                                <a href="javascript:void(0);">Click here to share on
                                    Facebook</a>&nbsp;
                            {% endif %}
                            <br/>
                </li>
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $("#notification-dialog-{{notification.id}} .notification-options .notification-share").click(function () {
                            fb_share('{{notification.id}}', '{{ notification.fb_contents }}');
                        });
                    });
                </script>
            {% endfor %}
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-widget" data-dismiss="modal">OK</a>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        var modalElement = $('#notificationModal');
        modalElement.modal({
            backdrop: true,
            keyboard: true,
            show: false
        }); 

        // set up event logging
        modalElement.on('shown', function() {
            log_js_action("notifications", "alert", 'view-lock-open');
        });
        modalElement.on('hidden', function() {
            log_js_action("notifications", "alert", 'view-lock-close');
        });
        modalElement.css('margin-top', (modalElement.outerHeight() / 2) * -1);
        modalElement.modal('show')
            
    });
</script>

{% mark_alerts_displayed request notifications.alerts %}
