{% load class_tags %}

<div class="content-box">
    <div class="carousel">
    <div class="carousel-inner">
    {% for round_name in view_objects.energy_scoreboard.scoreboard_rounds %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <div class="content-box-title">
                {{ round_name }} kWh Score Board
                <a href="#" style="float: right">
                    <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20"
                         align="center"
                         title="Click to get help about this window"
                         onclick="toggleHelp('widget', 'energy-scoreboard'); return false;"
                    /></a>
            </div>
            <div>
                <table id="{{round_name|slugify}}-energy-scoreboard" class="table">
                    <tr>
                        <th>Rank</th>
                        <th>{{ TEAM_LABEL }}</th>
                        <th>kWh used</th>
                    </tr>
                    {% for entry in view_objects.energy_scoreboard.energy_ranks %}
                    <tr>
                        <td>{%  if entry.team == user.get_profile.team %}<b>{% endif %}
                               {{ forloop.counter }}
                        </td>
                        <td>{%  if entry.team == user.get_profile.team %}<b>{% endif %}
                               {{ entry.team.name }}
                        </td>
                        <td style="text-align: right; padding-right: 20px">
                               {%  if entry.team == user.get_profile.team %}<b>{% endif %}
                               {{ entry.usage }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
    {# Additional scoreboard entry for the energy goals #}
    {% if view_objects.energy_scoreboard.goals_scoreboard and view_objects.energy_scoreboard.goals_scoreboard|length > 0 %}
        <div class="item">
            <div class="content-box-title">
                Completed Energy Goals
                <a href="#" style="float: right">
                    <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20"
                         align="center"
                         title="Click to get help about this window"
                         onclick="toggleHelp('widget', 'energy-scoreboard'); return false;"
                            /></a>
            </div>
            <div>
                <table id="energy-goals-scoreboard" class="table">
                    <tr>
                        <th>Rank</th>
                        <th>{{ TEAM_LABEL }}</th>
                        <th>Days met goal</th>
                    </tr>
                    {% for entry in view_objects.energy_scoreboard.goals_scoreboard %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {{ entry.team__name }}
                            </td>
                            <td style="text-align: right; padding-right: 20px">{{ entry.completions }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    </div>
  </div>
  <div id="energy-scoreboard-message">#1 at end of round wins a
    <a href="/prizes"> prize!</a>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("#energy-scoreboard").cycle({
            height:"530px",
            pause:1,
            timeout:7000,
            pager:'#scoreboard-cycle-nav'
        });
    })
</script>
