{% extends "logged_in_base.html" %}

{% block body %}
    <div class="content-box">
        <div class="content-box-title">
            Canopy Members
        </div>
        <div class="content-box-contents">
            <a href="{% url advanced_index %}">Back to the canopy</a>
            <ul>
                {% for member in members %}
                    <!-- {% cycle 'alt-row' '' as cycle_class %} -->
                    <li class="{{cycle_class}}">
                        {% include "canopy_member.html" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}