{% load avatar_tags %}
    <div class="content-box">
        <div class="content-box-title">
            Canopy Members
            <a href="#" style="float: right">
                <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                     align="center"
                     title="Click to get help about this window"
                     onclick="toggleHelp('widget', 'canopy-directory'); return false;"
                        /></a>
        </div>
        <div class="content-box-contents">
            <ul class="unstyled canopy-member-list">
                {% for member in view_objects.canopy_member.members %}
                    <li>
                        <div>
                            <a href="{% url canopy_members %}#{{member.get_profile.name|slugify}}">
                                <img src="{% avatar_url member 40 %}"
                                     alt="Photo of {{ member.get_profile.name }}" align="top"/>

                                <div>{{ member.get_profile.name }}</div>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div style="clear: both">
                <a href="{% url canopy_members %}">View detailed list</a>
            </div>
        </div>
    </div>
