{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}

{% block object-tools-items %}

    <li><a href="/raffle/pick_winner">Pick current round winner</a></li>
    <li><a href="/raffle/notify_winner">Notify current winner</a></li>
    <li>
        <a href="{% url cl.opts|admin_urlname:'add' %}" class="addlink">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>
    </li>
{% endblock %}