{% extends "site_base.html" %}

{% load markup %}

{% block page_title %} 
{% endblock %}

{% block extra_head %}
    {% if not MAKAHIKI_USE_LESS %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/{{CSS_THEME}}.css"">
        <link rel="stylesheet" href="{{STATIC_URL}}css/landing.css">
    {% else %}
        <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}less/{{CSS_THEME}}.less">
        <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}less/landing.less">
        <script src="{{STATIC_URL}}js/less-1.3.0.min.js" type="text/javascript"></script>
    {% endif %}

    <link rel="stylesheet" href="{{STATIC_URL}}jquery-ui/jquery-ui.css">
    <script src="{{STATIC_URL}}jquery-ui/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}jquery-ui/js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/makahiki.js" type="text/javascript"></script>
    <meta name="format-detection" content="telephone=no">
{% endblock %}

{% block body %} 
<div class="container-fluid">
    <div class="row-fluid">
        <div class="content-box">  
            <div class="header-text" style="text-align: center;"> 
                {{ CHALLENGE.landing_slogan|markdown }} 
            </div>
        </div>
    </div>  

    <div class="content-box landing-body"> 
    Sorry, but the page you requested could not be found.</br>
    <a href="{% url root_index %}">Back to the home page</a>
    </div>
         <script>
            jQuery(document).ready(function ($) {
                // Check if the browser supports opacity as another check for an up to date browser.
                if (!jQuery.support.opacity) {
                    $('#landing-button-participant').unbind('click').click(function () {
                        location.href = '{% url browser_check %}';
                    });
                }
            });
        </script>


        <!--[if lt IE 9]>
         <script type="text/javascript" 
         src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>


        <script>
          // The conditional ensures that this code will only execute in IE,
          // Therefore we can use the IE-specific attachEvent without worry
          window.attachEvent("onload", function() {
            CFInstall.check({
              preventPrompt: true,
              preventInstallDetection: true,
              onmissing: function() {
                jQuery('#landing-button-participant').unbind('click').click(function() {
                  location.href='{% url browser_check %}';
                });
              }
           });
          });
        </script>
        <![endif]-->  
</div>
{% endblock %}
{% block footer %} 
{% endblock %}
