{% load i18n %}
{% load class_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="{{ LANGUAGE_CODE }}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block page_title %}{% endblock %}: {{ SITE_NAME }} {{ COMPETITION_NAME }}</title>
    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>
<body>
  {% block header %}{% endblock %}
  
  {# This is where the contents of the page will be inserted #}
  <div class="content">
    {% block body %}{% endblock %}
  </div>
  
  {% block footer %}{% endblock %}
  
  {% block extra_body_base %}
      {% block extra_body %}{% endblock %}
  {% endblock %}
</body>
</html>
