{% extends "logo_bar_base.html" %}

{% block content %}
    <div class="container">

        <div class="content-box span10 offset1">
            <div class="content-box-contents">
                <h3>Browser Check</h3>

                <p/>

                <p/>

                We noticed that you are using an incompatible
                browser. For best results, we suggest using the
                latest version of Chrome, Safari, Firefox.

                <p/>
                If you already have one of these installed, please use that browser. Otherwise,
                you may use
                <a href='http://www.google.com/chromeframe'>Google Chrome Frame</a> for this site.

                <center>
                        <button id="landing-button-continue" class="btn btn-widget"
                                onclick="javascript:location.href='http://www.google.com/chromeframe'">
                            <h3>Install Google Chrome Frame into Internet Explorer</h3>
                        </button>
                </center>

                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

                If you are sure that your are using a compatible browser, and choose to continue,
                click <a href='{% url home_index %}'>here</a>

            </div>
        </div>
    </div>
{% endblock %}
