{% extends "logo_bar_base.html" %}

{% block content %}
    <div class="container">

        <div class="content-box span10 offset1">
            <div class="content-box-contents">
                <h3>Browser Check</h3>

                <p/>

                <p/>

                We noticed that you are using an incompatible
                browser. For best results, we suggest using the
                latest version of
                <a href='http://www.google.com/chrome'>Chrome</a>,
                <a href='http://www.apple.com/safari/'>Safari</a>,
                <a href='http://www.mozilla.org/en-US/firefox/new/'>Firefox</a>, or
                <a href='http://windows.microsoft.com/en-US/internet-explorer/products/ie/home'>Internet Explorer</a>.

                <p/>
                If you are using Internet Explorer 6, 7, or 8, you may also use
                <a href='http://www.google.com/chromeframe'>Google Chrome Frame</a> for this site.

                <p/>
                If you do choose to continue, some features may
                not work as intended.

                <p/>

                <center>
                    <button id="landing-button-continue" class="btn"
                            onclick="javascript:location.href='{% url home_index %}'">
                        <h3>I understand that some things may not
                            work correctly. <br/> Click to continue.</h3>
                    </button>
                </center>
                <p/>
            </div>
        </div>
    </div>
{% endblock %}
