{% extends "logo_bar_base.html" %}
{% load markup %}
{% block page_title %}
    Welcome to KukuiCup!
{% endblock %}

    {% block content %}
        <div class="row-fluid">
            <div class="content-box landing-body">
                {{ CHALLENGE.landing_introduction|markdown }}
                <p>

                <p>

                {% if not CHALLENGE.use_internal_auth %}
                    {% if CHALLENGE.use_cas_auth %}
                    <button id="landing-button-participant" class="landing-intro button"
                            onclick="javascript:location.href='{% url home_index %}'">
                        {{ CHALLENGE.landing_participant_text|markdown }}
                    </button>
                    {% else %}
                    <button id="landing-button-participant" class="landing-intro button"
                            onclick="javascript:location.href='{% url auth_login %}'">
                        {{ CHALLENGE.landing_participant_text|markdown }}
                    </button>
                    {% endif %}
                {% else %}
                    <button id="landing-button-participant" class="landing-intro button"
                            onclick="show_auth_buttons()">
                        {{ CHALLENGE.landing_participant_text|markdown }}
                    </button>

                    <div id="auth_buttons" hidden="true">
                        <center>
                        <table><tr>
                        {% if CHALLENGE.use_cas_auth %}
                        <td>
                          <button class="landing-intro button"
                                onclick="javascript:location.href='{% url home_index %}'">
                            <h4> I have a UH email </h4><br/>
                          </button>
                        </td>
                        {% endif %}
                        <td>
                        <button class="landing-intro button"
                                onclick="javascript:location.href='{% url auth_login %}'">
                            <h4> I don't have a UH email </h4><br/>
                        </button>
                        </td>
                        </tr></table>
                        </center>
                    </div>
                {% endif %}
                <p>

                    <button id="landing-button-non-participant" class="landing-intro button"
                            onclick="javascript:location.href='{% url about %}'">
                        {{ CHALLENGE.landing_non_participant_text|markdown }}
                    </button>

            </div>
        </div>
        <div class="row-fluid">
            <div class="landing-sponsors content-box" style="text-align: center;">
                        <h4>Sponsored by:</h4>
                    <div id="landing-sponsors-list">
                        {% for sponsor in CHALLENGE.sponsor_set.all %}
                            <a href="{{ sponsor.url }}">
                                <img
                                        {% if sponsor.logo_url %}
                                            src="{{ sponsor.logo_url }}"
                                        {% else %}
                                            src="{{ sponsor.logo.url }}"
                                        {% endif %}
                                            title="{{ sponsor.name }}"
                                        />
                            </a>
                        {% endfor %}
                    </div>
                    <a class="contact-link" href="mailto:{{ CHALLENGE.contact_email }}">Contact the Kukui Cup administrators</a>
            </div>

        <script type="text/javascript">
            function show_auth_buttons() {
                $('#landing-button-participant').hide()
                $('#auth_buttons').show()
                return false;
            }
        </script>

    {% endblock %}

