{% extends "logo_bar_base.html" %} 
{% load markup %}
{% block page_title %}
    Welcome to KukuiCup!
{% endblock %} 

    {% block content %}
        <div class="row-fluid">
            <div class="content-box error-box">
                {{ CHALLENGE.landing_introduction|markdown }}
                <p>

                <p>

                    <button id="landing-button-participant" class="landing-intro button"
                            onclick='javascript:location.href="{% url home_index %}"'>
                        {{ CHALLENGE.landing_participant_text|markdown }}
                    </button>

                <p>

                    <button id="landing-button-non-participant" class="landing-intro button"
                            onclick="javascript:location.href='{% url about %}'">
                        {{ CHALLENGE.landing_non_participant_text|markdown }}
                    </button>

            </div>
        </div>
        <div class="row-fluid">
            <div class="landing-sponsors content-box" style="text-align: center;"> 
                        <h4>Sponsored by:</h4> 
                    <div id="landing-sponsors-list">
                        {% for sponsor in CHALLENGE.sponsor_set.all %}
                            <a href="{{ sponsor.url }}">
                                <img
                                        {% if sponsor.logo_url %}
                                            src="{{ sponsor.logo_url }}"
                                        {% else %}
                                            src="{{ sponsor.logo.url }}"
                                        {% endif %}
                                            title="{{ sponsor.name }}"
                                        />
                            </a>
                        {% endfor %}
                    </div>
                    <a class="contact-link" href="mailto:{{ CHALLENGE.contact_email }}">Contact the Kukui Cup administrators</a>
            </div>    

    {% endblock %} 
 
