{% extends "base.html" %}

{% load class_tags %}
{% load markup %}

{% block extra_head_base %}
  {% import_logged_in_css STATIC_URL "responsive" %}
  {% block extra_head %}{% endblock %}
{% endblock %}

{% block header %}
 {% include "components/RIB.html" %}
 {% include "components/navbar.html" %}
    <div id='notifications'>
        {% include "widgets/notifications/templates/index.html" %}
    </div>
    <div id='quests'>
        {% include "widgets/quests/templates/index.html" %}
    </div>
 {% if messages %}
  <div id="messages">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  </div>
 {% endif %}
{% endblock %}


{% block extra_body_base %}

{% include "feedback_dialog.html" %}

<div id="widget-help-dialog" title="Help" style="display: none">
</div>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<script type="text/javascript">
  FB.init({
    appId: '{{FACEBOOK_APP_ID}}', 
    status: true, 
    cookie: true, 
    xfbml: true
  });
</script>

{% block extra_body %}
  <!-- javascript
   ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{STATIC_URL}}js/jquery.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-transition.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-alert.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-modal.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-dropdown.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-scrollspy.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-tab.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-tooltip.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-popover.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-button.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-collapse.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-carousel.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/bootstrap-typeahead.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/jquery.cycle.all.js" type="text/javascript"></script>
  <script type="text/javascript">
      $.fn.cycle.defaults.timeout = 6000;
      $(function() {
          $('#user-cycle').cycle({
              fx : 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
              fit : 1
          });
      });

      $(function() {
          $('#team-cycle').cycle({
              fx : 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
              fit : 1
          });
      });

      $(function() {
          $('#round-cycle').cycle({
              fx : 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
              fit : 1
          });
      });
      
      $(function() {
          $('#single-cycle').cycle({
              fx : 'scrollUp', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
              fit : 1,
              height : 55
          });
      });
  </script>
  {% block page_cycles %}{% endblock page_cycles %}
{% endblock %}

{% endblock %}
