{% extends "base.html" %}

{% load class_tags %}
{% load markup %}

{% block extra_head_base %}
  <script src="{{STATIC_URL}}/js/feedback.js" type="text/javascript"></script>

  {% import_logged_in_css STATIC_URL %}
  {% block extra_head %}{% endblock %}
{% endblock %}

{% block header %}


<div style="margin-top: 10px">
  
  <div {% get_id_and_classes "header-logout" %}>
    <div id="header-site-name">
        {{ SITE_NAME }} {{ COMPETITION_NAME }}
    </div>

    {% if user.get_profile.canopy_member and not in_canopy %}
    <div id="link-container" style="float: left">
      <div id="header-canopy-link" class="hidden">
        <a href="{% url canopy_index %}">Head up to the canopy</a>
      </div>
    </div>
    {% endif %}
    
    <button {% get_id_and_classes "header-feedback" %} disabled="disabled" href="javascript:void(0);">Send Feedback</button>
    <a href="/account/cas/logout/?next=/landing/">Logout</a>
  </div>

  <div {% get_id_and_classes "header-logo" %}>
    <a href="{% url home_index %}"><img src="{{STATIC_URL}}css/default/images/logo.png" title="Home"/></a>
  </div>

  <div {% get_id_and_classes "header-info" %}>
    {% include "components/user_info.html" %}
  </div>  
  
  <div {% get_id_and_classes "header-nav" %}>
    <div class="{% block selected_icon %}{% endblock %}">
      {% include "components/navigation.html" %}
    </div>
    {% if IN_COMPETITION %}
    <div {% get_id_and_classes "header-round-info" %}>
      <h3>{{CURRENT_ROUND}}</h3>
      <span {% get_id_and_classes "header-round-countdown" %}></span>
    </div>
    <script type="text/javascript">
      var endDate = new Date("{{CURRENT_ROUND_INFO.end.ctime}}");
      var today = new Date();
      // Calculate the number of days in the difference.
      var hourDiff = (endDate - today) / (1000 * 60 * 60);
      if (hourDiff > 24) {
        $("#header-round-countdown").countdown({
          until: endDate,
          tickInterval: 60,
          layout: '(ends in {dn} {dl}, {hn} {hl}, and {mn} {ml})'
        });
      }
      else {
        if (hourDiff < 6) {
          $("#header-round-info").addClass("ending");
        }
        $("#header-round-countdown").countdown({
          until: endDate,
          layout: '(ends in {hn} {hl}, {mn} {ml}, and {sn} {sl})'
        });
      }
    </script>
    {% endif %}
  </div>
</div>


{% block quests %}
{% endblock %}

{% if messages %}
<div id="messages">
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock %}

{% block extra_body_base %}

{% include "feedback_dialog.html" %}

<div id="widget-help-dialog" title="Help" style="display: none">
</div>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<script type="text/javascript">
  FB.init({
    appId: '{{FACEBOOK_APP_ID}}', 
    status: true, 
    cookie: true, 
    xfbml: true
  });
</script>

{% block extra_body %}{% endblock %}

{% endblock %}