        <div class="content-box">
            <div class="content-box-title">
                Current {{ TEAM_LABEL }} Power
                <a href="#" style="float: right">
                    <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                         align="center"
                         title="Click to get help about this window"
                         onclick="toggleHelp(event, 'widget', 'lounge-power'); return false;"
                            /></a>
            </div>
            <div class="content-box-contents">
                <center>
                    <div class="energy-power-meter">
                      {% include "power.html" %}
                    </div>
                </center>
             </div>
        </div>
