<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/com.iskitz.ajile.js?mvcoff,mvcshareoff,refresh"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/org.wattdepot.gdata.GDataLoader.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/org.wattdepot.gdata.makahiki.PowerMeter.js"></script>

<div id="visualization"></div>

<script type="text/javascript">
    // Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
    (function power_meter() {
        var spreadsheetUrl = "/energy_power_meter/data";
        var refreshInterval = 15; // refresh every 15 seconds.

        // Load the visualization API and the spreadsheet, then call displayEnergy.
        var loader = new org.wattdepot.gdata.GDataLoader(displayEnergy, spreadsheetUrl, refreshInterval);

        function displayEnergy(datatable) {
            var source = '{{user.get_profile.team.name}}';
            var options = {width:200,
                title:source,
                captionStyle:{fontSize:'0.70em'},
                titleStyle:{fontWeight:'bold'},
                globalStyle:{fontFamily:'sans-serif'},
                backgroundColor:"EBE7BC",
                powerRange:2000};
            var energyChart = new org.wattdepot.gdata.makahiki.PowerMeter();
            energyChart.draw('visualization', source, datatable, options);
        }
    })();

</script>