<table cellpadding="1">
    <tr>
        <td>
            <table cellpadding="2" border="1" >
                <tr>
                    <td bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Mon</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Tue</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Wed</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Thu</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Fri</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Sat</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Sun</span>
                    </td>
                </tr>
                <tr>
                    {% for goal in daily_goal %}
                        {% if forloop.first %}
                            {% for day in goal.filler_days %}
                                <td width="50"></td>
                            {% endfor %}
                        {% endif %}
                        {% if not forloop.first and goal.date.weekday == 0 %}
                            </tr>
                            <tr>
                        {% endif %}
                        <td width="50">
                            <span style="float: left; font-size: 0.7em; font-weight: bold;">
                                  {{ goal.date|date:"n/j" }} </span>
                            <br/>

                            <p/>

                            <div class="goal_tooltip">
                                {% if goal.goal_status == "Over the goal" %}
                                    <div class="goal_tooltip">
                                        <img rel="tooltip" title="{{ goal.verbose_info }}"
                                             src="{{ STATIC_URL }}images/energy/bad32.png"/>
                                    </div>
                                {% elif goal.goal_status == "Below the goal" %}
                                    <div class="goal_tooltip">
                                        <img rel="tooltip" title="{{ goal.verbose_info }}"
                                             src="{{ STATIC_URL }}images/energy/good32.png"/>
                                    </div>
                                {% elif goal.goal_status == "Unknown" %}
                                    <div class="goal_tooltip">
                                        <img rel="tooltip" title="{{ goal.verbose_info }}"
                                             src="{{ STATIC_URL }}images/energy/unknown32.png"/>
                                    </div>
                                {% elif goal.goal_status == "Not available" %}
                                    <div class="goal_tooltip">
                                        <img rel="tooltip" title="{{ goal.verbose_info }}" width=32
                                             src="{{ STATIC_URL }}images/energy/disabled32.png"/>
                                    </div>
                                {% else %}
                                    <div class="goal_tooltip">
                                        <div style="height: 32px;"></div>
                                    </div>
                                {% endif %}
                            </div>
                            <span style="font-size: 0.7em;">
                                  {{ goal.goal_info }}
                            </span>
                        </td>
                        {% if forloop.last %}
                            {% for day in goal.filler_days %}
                                <td width="50"></td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-size: 0.8em; text-align: center;">
            <img src="{{ STATIC_URL }}images/energy/good32.png" width="16"/>: Awarded
            (Made the goal)
            <img src="{{ STATIC_URL }}images/energy/bad32.png" width="16"/>: Did not make the goal
            <img src="{{ STATIC_URL }}images/energy/unknown32.png" width="16"/>: No usage data
            <img src="{{ STATIC_URL }}images/energy/disabled32.png" width="16"/>: No baseline data
        </td>
    </tr>
</table>


<script type="text/javascript">

    // tooltip demo
    $('.goal_tooltip').tooltip({
        selector:"img[rel=tooltip]"
    })

</script>
