<table cellpadding="1">
    <tr>
        <td>
            <table cellpadding="2" border="1" >
                <tr>
                    <td bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Mon</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Tue</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Wed</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Thu</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Fri</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Sat</span>
                    </td>
                    <td align="left" bgcolor="gray">
                        <span style="float: left; font-weight: bold;">Sun</span>
                    </td>
                </tr>
                <tr>
                    {% for goal in daily_goal %}
                        {% if forloop.first %}
                            {% for day in goal.filler_days %}
                                <td width="50"></td>
                            {% endfor %}
                        {% endif %}
                        {% if not forloop.first and goal.date.weekday == 0 %}
                            </tr>
                            <tr>
                        {% endif %}
                        <td width="50">
                            {% if goal.is_today and not goal_settings.manual_entry %}
                                <a href="/{{ goal.resource }}/">
                            {% endif %}
                            <span style="float: left; font-weight: bold;
                              {% if goal.is_today %}
                                  font-size: 1em;
                              {% else %}
                                  font-size: 0.7em;
                              {% endif %}
                            ">
                                {{ goal.date|date:"n/j" }}
                            </span>
                            <br/>
                            <p/>

                            <div class="goal_tooltip">
                                {% if goal.goal_status == "Over the goal" %}
                                    <div class="goal_tooltip">
                                        <img rel="tooltip" title="{{ goal.verbose_info }}" width=32 height="32"
                                             src="{{ STATIC_URL }}images/energy/bad32.png"/>
                                    </div>
                                {% elif goal.goal_status == "Below the goal" %}
                                    <div class="goal_tooltip">
                                        <img rel="tooltip" title="{{ goal.verbose_info }}" width=32 height="32"
                                             src="{{ STATIC_URL }}images/energy/good32.png"/>
                                    </div>
                                {% elif goal.goal_status == "Unknown" %}
                                    <div class="goal_tooltip">
                                        <img rel="tooltip" title="{{ goal.verbose_info }}" width=32 height="32"
                                             src="{{ STATIC_URL }}images/energy/unknown32.png"/>
                                    </div>
                                {% elif goal.goal_status == "Not available" %}
                                    <div class="goal_tooltip">
                                        <img rel="tooltip" title="{{ goal.verbose_info }}" width=32 height="32"
                                             src="{{ STATIC_URL }}images/energy/disabled32.png"/>
                                    </div>
                                {% else %}
                                    <div class="goal_tooltip">
                                        <img width=32 height="32"
                                            src="{{ STATIC_URL }}images/spacer.png"/>
                                    </div>
                                {% endif %}
                            </div>
                            {% if goal.goal_info %}
                                <span style="font-size: 0.7em; height: 32px;">
                                  {{ goal.goal_info|safe }}
                                </span>
                            {% else %}
                                <img width=32 height="32"
                                     src="{{ STATIC_URL }}images/spacer.png"/>
                            {% endif %}
                            {% if goal.is_today and not goal_settings.manual_entry %}
                                </a>
                            {% endif %}
                        </td>
                        {% if forloop.last %}
                            {% for day in goal.filler_days %}
                                <td width="50"></td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-size: 0.8em; text-align: center;">
            <b>Each member receives {{ goal_settings.goal_points }} points each day that we make our goal.</b><br/>
            <img src="{{ STATIC_URL }}images/energy/good32.png" width="16"/>: Awarded
            (Made the goal)
            <img src="{{ STATIC_URL }}images/energy/bad32.png" width="16"/>: Did not make the goal
            <img src="{{ STATIC_URL }}images/energy/disabled32.png" width="16"/>: Disabled
            {% if not goal_settings.manual_entry %}
                <br/><a href="/{{ resource.name }}/"><b>Click here to return to today's stoplight view</b></a>
            {% endif %}

        </td>
    </tr>
</table>


<script type="text/javascript">

    // tooltip demo
    $('.goal_tooltip').tooltip({
        selector:"img[rel=tooltip]"
    })

</script>
