{% if hourly_goal.is_blackout %}
    <table >
        <tr width="300"><td height="100" valign="center">
            <b>Today's data does not count due to holiday. </b> <br/><br/>
        </td></tr>
    </table>
{% elif hourly_goal.no_data %}
    <table >
        <tr width="300"><td height="100" valign="center">
            <b>Current {{ resource.name }} data is not available yet. Please come back later</b> <br/><br/>
            If the data is still not available after 10 minutes, Please contact administrator to report this problem.
        </td></tr>
    </table>
{% elif not hourly_goal.goal_usage %}
    <table >
        <tr width="300"><td height="100" valign="center">
            No baseline data found for your team. The Daily Energy Goal Game is disabled for today.
        </td></tr>
    </table>
{% else %}
<div>
    <table cellpadding="5"
           style="text-align: center; vertical-align: top">
      <tr>
         <td style="vertical-align: top" align="center">
             <table cellpadding="5">
                 <tr><td valign="top" style="text-align: center; vertical-align: top">
                     Consumption Today <br>(So Far)
                     </td></tr>
                 <tr><td class="energy-display-text">
                     {{ hourly_goal.actual_usage }} {{ hourly_goal.unit }}
                     </td></tr>
             </table>
         </td>
         <td>
             {% if hourly_goal.actual_usage > hourly_goal.goal_usage %}
                 <img src="{{ STATIC_URL }}images/energy/stop_light_red.png"/>
             {% elif hourly_goal.actual_usage > hourly_goal.warning_usage %}
                 <img src="{{ STATIC_URL }}images/energy/stop_light_yellow.png"/>
             {% else %}
                 <img src="{{ STATIC_URL }}images/energy/stop_light_green.png"/>
             {% endif %}
         </td>
         <td style="vertical-align: top" align="center">
             <table cellpadding="5">
                 <tr><td valign="top" style="text-align: center; vertical-align: top">
                     Goal for Today <br>(So Far)
                 </td></tr>
                 <tr><td class="energy-display-text">
                     {{ hourly_goal.goal_usage }} {{ hourly_goal.unit }}
                 </td></tr>
             </table>
         </td>
      </tr>
      <tr> <td colspan="3" style="font-size: 0.8em">
          <b>Each member receives {{ goal_points }} points each day that we make our goal. </b> </br>
          {% if hourly_goal.actual_usage > hourly_goal.goal_usage %}
            Your lounge is currently over the goal by {{ hourly_goal.actual_diff }} kWh
              as of {{ hourly_goal.updated_at }}. See below for ways to conserve.
          {% elif hourly_goal.actual_usage > hourly_goal.warning_usage %}
            Your lounge is currently making the goal, but just barely ( {{ hourly_goal.actual_diff }} kWh)
              as of {{ hourly_goal.updated_at }}.
              See below for ways to conserve.
          {% else %}
            Your lounge is currently beating the goal by {{ hourly_goal.actual_diff }} kWh
              as of {{ hourly_goal.updated_at }}. Great job!
          {% endif %}

           <br/>
           <a href="/{{ hourly_goal.resource }}/?calendar_view=True"><b>Click here to see how we are doing in this round.</b></a>
      </td> </tr>  
    </table>
</div>
{% endif %}