
        <div class="content-box">
            <div class="content-box-title">
                Daily {{ resource.name|capfirst }} Goal Game
                <a href="#" style="float: right">
                    <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                         align="center"
                         title="Click to get help about this window"
                         onclick="toggleHelp(event, 'widget', 'energy-goal-game'); return false;"
                            /></a>
            </div>
            <div class="content-box-contents">
                
              {% if hourly_goal %}
                <fieldset> 
                    <div class="energy-power-box">
                          <center>{% include "hourly_goal.html" %}</center>
                    </div>
                </fieldset>
              {% endif %}
              {% if daily_goal %}
                <fieldset>
                    <legend>Current Round Daily Goal Status</legend>
                    <div class="energy-power-box">
                            <center>{% include "daily_goal.html" %}</center>
                    </div>
                </fieldset>
                {% endif %}
                <fieldset>
                    <legend>The following activities can help your {{ TEAM_LABEL.lower }}
                                conserve {{ resource.name }}: </legend>
                    <table class="energy-status-how-table">
                        <tr>
                            <td class="energy-status-how-activities-content">
                                <center></center>
                                {% include "golow_activities.html" %}
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
