{% with all_groups=view_objects.viz_heatmap.all_groups %}
<p/>
<div>
    <center><b>Heat Map Analysis</b></center>
    <div>
        Dorm :
        {% for group in all_groups %}
            <input type="radio" name="heatmap-dorm" value="{{ group.name }}"
                    {% if user.get_profile.team.group == group %} checked="checked" {% endif %}
                   onchange="updatePeriod();"/> {{ group.name }}

            {% for lounge in group.teams %}
                <input id="{{ lounge.name}}" name="heatmap-lounge-{{ group.name }}"
                       type="hidden"/>
            {% endfor %}

        {% endfor %}


    </div>

    <div>
        Time :
        <input type="radio" name="period" value="last24hours" checked="checked"
               onchange="updatePeriod();"/>
        last 24 hours
        <input type="radio" name="period" value="last14days" onchange="updatePeriod();"/>
        last 14 days
    </div>


    <!-- Loading div that displays an animated gif, display is set to none when displaying a BioHeatMap -->
    <div id="loading"><img src="http://www.google.com/ig/images/spinner.gif"/></div>

    <!-- Container to display the BioHeatMap, style is set to display error messages -->
    <div id="datadiv"></div>

    <!-- Container to display when the Gadget was last updated. -->
    <center><div id="lastchecked"></div></center>

    <p/>

    <div>
        Greener areas note when energy usage was particularly low while redder areas note when the
        values are particularly high.
        By using this you are comparing the values within your data range and not beyond it, so in
        some instances a greener spot may not be classified as that when compared with other dates.
        You can use this visualization to find the times when you are comparatively using the most
        resources and take steps to decrease that value.
    </div>
</div>
{% endwith %}

<script type="text/javascript">
    var SERVER_URL = "{{ CHALLENGE.wattdepot_server_url }}";
</script>

<script type="text/javascript" src="{{ STATIC_URL}}js/com.iskitz.ajile.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/prototype.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/bioheatmap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/org.wattdepot.makahiki.HeatMap.js"></script>