{% load markup %}
<div class="content-box logo-header-box">
    <div class="content-box-title" style="min-height:115px;">
        <img class="logo" src="{{STATIC_URL}}images/old-logo.png"></img> 
        {% if CHALLENGE.logo %}
            <img class="logo-branding" src="{{CHALLENGE.logo.url }}"/>
        {% else %}
            <img class="logo-branding" src="{{STATIC_URL}}images/old-logo.png"/>
        {% endif %}
        <div class="logo-header-text" style="text-align: center;"> 
            {{ CHALLENGE.landing_slogan|markdown }}
        </div> 
    </div>
</div>
