{% load avatar_tags %} 
{% if user.is_authenticated %}
<div id="info-bar-wide" class="container-fluid makahiki-box info-bar">
    <div class="row-fluid">
        <div class="span12">
            <div class="span1">
                <img src="{% avatar_url user 60 %}" />
            </div>
            <div id="wide-personal-cycle" class="span3 carousel">
                <div class="carousel-inner">
                    {% include "components/user_points.html" %}
                </div>
            </div>
            <div id="wide-team-cycle" class="span3 carousel">
                <div class="carousel-inner">
                    {% include "components/team_points.html" %}
                </div>
            </div>
            <div id="wide-round-cycle" class="span3 carousel">
                <div class="carousel-inner">
                    {% include "components/round_cycle.html" %}
                </div>
            </div>
            <div class="span2">
                <button id="header-feedback" href="javascript:void(0);" class="btn">Send Feedback</button>
                <a href="{% url cas_logout %}?next=/landing">Logout</a>
            </div>
        </div>
    </div>
</div>
<div id="info-bar-single" class="container makahiki-box info-bar">
    <div class="row">
        <div id="feedback-single" class="span2">
            <button id="header-feedback" href="javascript:void(0);" class="btn">Send Feedback</button>
        </div>
        <div id="feedback-logout" class="span2 offset9">
            <a href="{% url cas_logout %}">Logout</a>
        </div>
    </div>
    <div class="row">
        <div id="sngle-cycle" class="carousel">
            <div class="carousel-inner">
                {% include "components/RIB_single.html" %}
            </div>
        </div>
    </div>
</div>
{% endif %}