{% load avatar_tags %} 
{% load class_tags %} 
{% if user.is_authenticated %}
<div {% get_id_and_classes "info-bar-wide" "responsive" %}>
<!-- <div id="info-bar-wide" class="container-fluid"> -->
    <div class="row-fluid">
        <div class="span12">
            <div class="span1">
                <img src="{% avatar_url user 60 %}" />
            </div>
            <div class="span3">
                {% with user.get_profile as profile %}
                <h4>{{profile.name}}</h4>
                <div id="user-cycle">
                    {% include "components/user_points.html" %}
                </div>
                {% endwith %}
            </div>
            <div class="span3">
                {% with user.get_profile.team as team %}
                <h4>{{team}}</h4>
                <div id="team-cycle">
                    {% include "components/team_points.html" %}
                </div>
                {% endwith %}
            </div>
            <div class="span3">
                <div id="round-cycle">
                    {% include "components/round_cycle.html" %}</div>
            </div>
            <div class="span2">
                <button id="header-feedback" href="javascript:void(0);">Send Feedback</button>
                <a href="landing.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<div id="info-bar-single" class="container-fluid">
    <div class="row-fluid">
        <div class="span12" style="text-align: center">
            <div class="span4">
                <div id="single-cycle">
                    {% include "components/RIB_single.html" %}
                </div>
            </div>
            <div id="feedback-logout" class="span2">
                <button id="header-feedback" href="javascript:void(0);">Send Feedback</button>
                <a href="landing.html">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endif %}