{% load avatar_tags %} 
{% load cache %}
{# {% cache 600 infobar request.user.username %} #}
  {% with user.get_profile as profile %}
    <div>
            <h4>{{profile.name}}</h4>
            {{profile.current_round_points}} points #{{profile.current_round_team_rank}}/{{TEAM_MEMBER_COUNT}} in {{profile.team.name}}.
    </div>
    <div>
            <h4>{{profile.name}}</h4>
            {{profile.current_round_points}} points #{{profile.current_round_overall_rank}}/{{OVERALL_MEMBER_COUNT}} overall.
    </div>
  {% endwith %}
{% with user.get_profile.team as team %}
    <div>
            <h4>{{team}}</h4>
            {{team.current_round_points}} points. #{{team.current_round_rank}}/{{TEAM_COUNT}}.
    </div>               
    {% if view_objects.energy_rank_info %}
    <div>
            <h4>{{team}}</h4>
            {{ view_objects.energy_rank_info.usage }} kWh. #{{ view_objects.energy_rank_info.rank }}/{{TEAM_COUNT}}.
    </div>
    {% endif %}
    {% if view_objects.water_rank_info %}
        <div>
            <h4>{{team}}</h4>
            {{ view_objects.water_rank_info.usage }} kWh. #{{ view_objects.water_rank_info.rank }}/{{TEAM_COUNT}}.
        </div>
    {% endif %}
{% endwith %}

    <div>
            <h4>{{ CURRENT_ROUND_INFO.name }}</h4>
            Ends on {{CURRENT_ROUND_INFO.end}}
    </div>

    {% for event in AVAILABLE_EVENTS %}
    <div>
            <h4><a href="{% url activity_task event.type event.slug %}">{{ event.title }}</a></h4>
            {{event.event_date}}
    </div>
    {% empty %}
    <div>
        Sorry, no upcoming events.<br>
        Check back later.
    </div>
    {% endfor %}    
{# {% endcache %} #}