{% if IN_COMPETITION %}
<div>
    <div class="rib-set-width-outer-width">
    <h4>{{ CURRENT_ROUND_INFO.name }}</h4>
    Ends on {{CURRENT_ROUND_INFO.end}}
    </div>
</div>
{% endif %}
{% for event in AVAILABLE_EVENTS %}
<div style="display:none;">
    <div class="rib-set-width-outer-width">
<h4><a href="{% url activity_task event.type event.slug %}">{{ event.title }}</a></h4>
{{event.event_date}}
    </div>
</div>
{% empty %}
<div style="display:none;">
    <div class="rib-set-width-outer-width">
<p>Sorry, no upcoming events. Check back later.</p>
    </div>
</div>
{% endfor %}