        <div>
            <div class="rib-set-width-outer-width">
                <h4>{{team}}</h4>{{team_points}} points. <br/>#{{team_rank}} of {{TEAM_COUNT}}.
            </div>
        </div>

        {% with energy_rank_info=view_objects.energy_rank_info %}
            {% if energy_rank_info %}
                <div style="display:none;">
                    <div class="rib-set-width-outer-width">
                        <h4>{{team}}</h4>{{ energy_rank_info.usage }} {{ energy_rank_info.unit }}. <br/>#{{ energy_rank_info.rank }} of {{TEAM_COUNT}}.
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% with water_rank_info=view_objects.water_rank_info %}
            {% if water_rank_info %}
                <div style="display:none;">
                    <div class="rib-set-width-outer-width">
                        <h4>{{team}}</h4>{{ water_rank_info.usage }} {{ water_rank_info.unit }}. <br/>#{{ water_rank_info.rank }} of {{TEAM_COUNT}}.
                    </div>
                </div>
            {% endif %}
        {% endwith %}
