{% load class_tags %}
{% load cache %}

{% if team and team.group %}
{% cache 600 infobar team.name %}
{% if CURRENT_ROUND_INFO and CURRENT_ROUND_INFO.name != 'Overall' %}
<!-- First slideshow element -->
<div>
    <ul>
        <li>{{CURRENT_ROUND_INFO.name}}: {{team.current_round_points}} {{COMPETITION_POINT_LABEL}}s.
        #{{team.current_round_rank}}/{{TEAM_COUNT}}.
        </li> 
    </ul>
</div>

{% if energy_rank_info %}
<div>
    <ul>
        <li>{{CURRENT_ROUND_INFO.name}}: <span id="round-energy-value"></span> kWh.
        #<span id="round-energy-rank"></span>  out of {{TEAM_COUNT}}.</li>
    </ul>
</div>
{% endif %}
{% endif %}
<div>
    <ul>
        <li>Overall: {{team.points}} {{COMPETITION_POINT_LABEL}}s. #{{team.rank}} out of {{TEAM_COUNT}}</li>
    </ul>
</div>
{% if energy_rank_info %}
<div>
    <ul>
        <li>Overall: {{ energy_rank_info.usage }} kWh. #{{ energy_rank_info.rank }} out of {{TEAM_COUNT}}.</li>
    </ul>
</div>
{% endif %}

{% endcache %}
{% endif %}