{% with no_carousel=view_objects.resource_scoreboard__energy.no_carousel resource=view_objects.resource_scoreboard__energy.resource round_resource_ranks=view_objects.resource_scoreboard__energy.round_resource_ranks round_group_resource_ranks=view_objects.resource_scoreboard__energy.round_group_resource_ranks round_resource_goal_ranks=view_objects.resource_scoreboard__energy.round_resource_goal_ranks resource_help='energy-scoreboard' team=view_objects.resource_scoreboard__energy.team  %}
    {% include "resource_scoreboard.html" %}
{% endwith %}
