{% load markup %}

<div id="fb-root"></div>
<script src="//connect.facebook.net/en_US/all.js"></script>

<!-- Top Row-->
<ul>
    {% for page in PAGE_INFO %}
      {% if page.is_unlock %}
      <li>
        <div class="home-item">
            <a href="{{ page.url }}/?ref=home-page">
                <img class="home-{{ page.name }}-icon"
                     src="{{STATIC_URL}}images/spacer.png"/>
            </a>
            <div class='tile'>
                <h6>{{ page.label }}</h6>
                  {{ page.introduction|markdown }}
            </div>
        </div>
      </li>
      {% endif %}
    {% endfor %}
</ul>

{% if not user.get_profile.setup_complete %}
    <div id="setup-dialog" class="modal">
        <div style="display: none;">
          Introduction: Step 1 of 6
        </div>
        {% include "first-login/welcome.html" %}
    </div>
    <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $("#setup-dialog").modal({ 
                    keyboard:false,
                    backdrop: "static",
                    show:true, 
                });//.modal() end 
            });//opening
    </script>
{% endif %}
