{% extends "logo_bar_base.html" %}

{% block page_title %}
    Restricted
{% endblock %}

{% block content %}
    <div class="landing-intro">
        {% if before %}
            <h3>You have logged in successfully, but the competition has not yet started.
                The competition starts at {{ start }}, in: </h3><br/>
                <h2><span id='restricted-countdown'></span>.</h2> <br/>
                <h3>Come back then!</h3>
        {% elif end %}
            <h3>The Kukui Cup is now over. Thank you for your participation.</h3>
        {% else %}
            <h3>The current round of the Kukui Cup is now over. You can check the Kukui Cup <a href='http://www.facebook.com/kukuicup'>Facebook page</a> for updates. <br/> <br/>

          The Kukui Cup will resume at {{ start }}, with new ways to earn points and more prizes to win. Enjoy your break!</h3>
        {% endif %}

        <script src="{{STATIC_URL}}js/jquery.countdown.pack.js" type="text/javascript"></script>
        <script type="text/javascript">
            var startDate = new Date("{{start.ctime}}");
            var today = new Date();
            // Calculate the number of days in the difference.
            var hourDiff = (startDate - today) / (1000 * 60 * 60);
//             console.log('today: ' + today + ' start: ' + startDate);
            if (hourDiff > 24) {
                $("#restricted-countdown").countdown({
                    until:startDate,
                    tickInterval:60,
                    layout:'{dn} {dl}, {hn} {hl}, and {mn} {ml}'
                });
            }
            else {
                $("#restricted-countdown").countdown({
                    until:startDate,
                    layout:'{hn} {hl}, {mn} {ml}, and {sn} {sl}'
                });
            }
        </script>
    </div>

{% endblock %}
