{% extends "logged_in_base.html" %}

{% block page_title %}
    Badge Catalog
{% endblock %}

{% block selected_icon %}selected-profile{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <div class="content-box">
        <div class="content-box-title">
            Badge Catalog
        </div>
            <p class="centered">
              <a class="textlink" href="{% url profile_index %}">Back to profile</a>
            </p>
            <table>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Achievement</th>
                    <th>Points</th> 
                </tr>

                {% with awarded_badges=view_objects.badges.awarded_badges locked_badges=view_objects.badges.locked_badges %}
                {% for badge in awarded_badges %}
                    <tr class="{% cycle '' 'alt-row' as cycle_class %}">
                        {% include "catalog-item.html" with badge=badge awarded_badges=awarded_badges %}
                    </tr>
                {% endfor %}

                {% for badge in locked_badges %}
                    <tr class="{% cycle cycle_class %}">
                        {% include "catalog-item.html" with badge=badge awarded_badges=awarded_badges %}
                    </tr>
                {% endfor %}
                {% endwith %}
            </table>
            <p class="centered">
              <a class="textlink" href="{% url profile_index %}">Back to profile</a>
            </p>
    </div>
{% endblock %}
