
        <div class="content-box-title">
            Badge Catalog
        </div>
        <div class="content-box">
            <a href="{% url profile_index %}">Back to profile</a>

            <table>
                <tr>
                    <th></th>
                    <th id="badge-catalog-title-header">Badge</th>
                    <th id="badge-catalog-achievement-header"}>Achievement</th>
                    <th></th>
                </tr>

                {% for badge in view_objects.badges.awarded_badges %}
                    <tr class="{% cycle '' 'alt-row' as cycle_class %}">
                        {% include "catalog-item.html" %}
                    </tr>
                {% endfor %}

                {% for badge in view_objects.badges.locked_badges %}
                    <tr class="{% cycle cycle_class %}">
                        {% include "catalog-item.html" %}
                    </tr>
                {% endfor %}
            </table>

            <a href="{% url profile_index %}">Back to profile</a>
        </div>
