{% load avatar_tags %}

<!--Badge Image-->
<td>
    {% if badge in awarded_badges %}
    <div class="badge-theme-{{badge.theme}}">
        <p>
            {{ badge.label }}
       </p>    
    </div>
    {% else %}
    <div class="badge-image"></div>
    {% endif %}

     &nbsp;&nbsp;{{ badge.name }}
</td>

<!--Badge Description-->
<td>
    {% if badge in awarded_badges %}
        {{ badge.description }}
    {% else %}
        Hint: {{ badge.hint }}
    {% endif %}
</td>

<td> 
        {{ badge.points }}  
</td>

