{% with awarded_badges=view_objects.badges %}
<div class="content-box">
<div class="content-box-title">
      My Badges
      <a href="#" style="float: right">
          <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
               align="center"
               title="Click to get help about this window"
               onclick="toggleHelp(event, 'widget', 'my-badges'); return false;"
                  /></a>
  </div> 
<div class="content-box-contents">
  {# <h5>Individual Badges</h5> #}
  <table>
      <tr>
          <th class="column-text">Badge</th>
          <th></th>
          <th class="column-text">
              Achievement
          </th>
      </tr> 
      {% for awarded in awarded_badges %}
          <tr>
              <td>
                  <div class="badge-theme-{{awarded.badge.theme}}">
                    <p>{{ awarded.badge.label }}</p>
                  </div> 
              </td>
              <td>
                  <div class="badge-name no-cell-pad left">
                      &nbsp;&nbsp;{{ awarded.badge.name }}
                  </div>
              </td>
              <td>{{ awarded.badge.description }}</td>
          </tr>
      {% empty %}
          <tr>
              <td colspan="3">You don't have any badges yet!</td>
          </tr>
      {% endfor %}
  </table>
<div>
     <a href="{% url profile_badges %}" class="margin-one-third">See Badge Catalog</a>
  </div> 
</div>
</div>
{% endwith %}
