{% with flot=view_objects.status__flot %} 

<div class="content-box demi-widget">
    <div class="content-box-title"> 
    FLOT
    </div> 

    <div class="widget-content"> 

 
      <script type="text/javascript" src="{{STATIC_URL}}js/flot/jquery.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/flot/jquery.flot.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/flot/jquery.flot.selection.js"></script>
      <center>
        <div id="flot_chart" style="width:500px;height:300px;margin-left:10px;"></div>
      </center>
      <script type="text/javascript">
          var lFlotData = [ 
            {% for title, value in flot.data_sets.items %}
                { 
                      label: "{{title}}",
                      lines: {show: {{value.show}}, fillColor: "{{value.fill_color}}"},
                      color: '{{value.color}}',
                      data: [
                          {% for point in value.data %} 
                            [
                              {% if flot.xaxis_mode != "" %} 
                                  new Date({{point.x}})
                              {% else %}
                                  {{point.x}}
                              {% endif %}
                              , 
                              {% if flot.yaxis_mode != "" %} 
                                  new Date({{point.y}})
                              {% else %}
                                  {{point.y}}
                              {% endif %}
                            ],
                          {% endfor %}
                      ]
                  }
              {% endfor %}
          ];
          /*
              label: "lines",
              lines:  { show: true, fillColor: "#3d7dbd"},
              color: '#99ccff',
              data: [
                  [new Date("2007/05/19"), 19],
                  [new Date("2006/05/13"), 4],
                  [new Date("2006/03/19"), 9],
                  [new Date("2005/05/07"), 1],
                  [new Date("2005/03/20"), 3],
                  [new Date("2004/10/16"), 15],
                  [new Date("2004/03/21"), 2],
                  [new Date("2003/10/18"), 19],
                  [new Date("2003/03/16"), 2],
                  [new Date("2002/03/17"), 5],
                  [new Date("2001/09/22"), 2],
                  [new Date("2001/03/18"), 1],
              ] 
            } 
          ];*/

          var lFlotOptions = { 
              grid: {
                  borderWidth: {{flot.border_width}}
              },
              legend: {
                  show: {{flot.show_legend}}
              },
              yaxis: {
                  {% if yaxis_mode != "" %}
                    mode: "{{flot.yaxis_mode}}",
                    timeformat: "{{flot.time_format}}",
                  {% else %}
                    ticks: {{flot.yaxis_ticks}},
                  {% endif %}
                  color: "{{flot.yaxis_color}}",
                  min: 0
              },
              xaxis: { 
                  {% if xaxis_mode != "" %}
                    mode: "{{flot.xaxis_mode}}",
                    timeformat: "{{flot.time_format}}",
                  {% else %}
                    ticks: {{flot.xaxis_ticks}},
                  {% endif %}
                  color: "{{flot.xaxis_color}}"
              }
          }; 

          /*
          var lFlotOptions = { 
              grid: {
                  borderWidth: 0
              },
              legend: {
                  show: false
              },
              yaxis: {
                  ticks: [1, 5, 10, 15, 20, 25],
                  color: "#000000"
              },
              xaxis: { 
                  mode: "time",
                  color: "#000000"
              }
          }; */

          $.plot($("#flot_chart"), lFlotData, lFlotOptions);
      </script>
    </div>  
</div>
{% endwith %}
