<div class="content-box demi-widget">
    <div class="content-box-title"> 
    User Stats
    </div> 

    <div class="widget-content"> 
        <script  src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
          google.load('visualization', '1', {packages: ['corechart']});
        </script>

        <script type="text/javascript">

            function drawVisualization() {

              
                var graph_height = $('#backdrop').height()/2;
                var graph_width = $('#backdrop').width();

                // Create and populate the data table.
                var data = google.visualization.arrayToDataTable([
                    ['date', 'daily visitors', 'new users', 'total users'],
                    {% for status in view_objects.status__users.daily_status %}
                      ['{{ status.display_date }}', {{status.daily_visitors}},
                          {{status.new_users}}, {{ status.setup_users }}],
                    {% endfor %}
                ]);

                // Create and draw the visualization.
                new google.visualization.ComboChart(document.getElementById('visualization')).draw
                        (data, {
                                vAxis: {title: "Number of users"},
                                seriesType: "bars",
                                series: {2: {type: "line"}}
                                }
                        );
          }
          google.setOnLoadCallback(drawVisualization);
        </script>
        <div id="backdrop" style="background-color: #fff;opacity: .8;width: 99.9%;">
            <div id="visualization" style="width: 100%; height: 225px;opacity:1;"></div>
        </div>
    </div>  
</div>
