{% with todays_users=view_objects.status__users.todays_users logins=view_objects.status__users.logins referrals=view_objects.status__users.referrals %}
    <div class="span2">
        <div class="content-box widget">
            <div class="widget-contents">
            <div class="content-box-title">
                {{ todays_users|length }} users logged in today
            </div>
            <div class="content-body">
                <ul style="list-style: none;">
                    {% for profile in todays_users %}
                        <li style="margin: 0">{{ profile.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="span2">
        <div class="content-box widget">
            <div class="widget-contents">
            <div class="content-box-title">
                New Signups
            </div>
            <div class="content-body">
                <ul style="list-style: none;">
                    {% for item in logins|dictsort:'date' %}
                        <li style="margin: 0">{{ item.date }}: {{ item.logins }} users</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="span2">
        <div class="content-box widget">
            <div class="widget-contents">
            <div class="content-box-title">
                Referrals
            </div>
            <div class="content-body">
            <table>
                <tr>
                    <th>Rank</th>
                    <th>User</th>
                    <th>Referrals</th>
                </tr>
                {% for item in referrals|dictsortreversed:'referrals' %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.referring_user__profile__name}}</td>
                        <td>{{item.referrals}}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
        </div>
    </div>

{% endwith %}
