<div class="content-box widget">
    <div class="content-box-title">
        {{ TEAM_LABEL.capitalize }}/Group Points
     </div>

    <!--Tabs-->
    <ul id="team-point-tab" class="nav nav-tabs">

        {% for round_name, standings in view_objects.scoreboard.round_standings.items reversed %}
            <li class="">
                <a data-toggle="tab" href="#group-point-{{round_name|cut:" "}}">Group {{round_name }}</a>
            </li>
        {% endfor %}
        {% for round_name, standings in view_objects.scoreboard.round_standings.items reversed %}
            <li class="">
                <a data-toggle="tab" href="#team-point-{{round_name|cut:" "}}">{{ TEAM_LABEL.capitalize }} {{round_name }}</a>
            </li>
        {% endfor %}
    </ul>

    <!--Contents-->
    <div class="tab-content">  
        {% for round_name, standings in view_objects.scoreboard.round_standings.items %} 
          <div id="team-point-{{round_name|cut:" "}}" class="tab-pane">
            <table class="table-striped">
                <thead>
                    <tr>
                        <th class="column-number" width="10%">Rank</th>
                        <th class="column-text" width="75%">{{ TEAM_LABEL.capitalize }}</th>
                        <th class="column-number" width="15%">Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in standings.team_standings %}
                    <tr>
                        <td class="column-number" width="10%">{{ forloop.counter }}</td>
                        <td class="column-text" width="75%">{{ f.profile__team__name }}</td>
                        <td class="column-number" width="15%">{{ f.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        {% endfor %}
        {% for round_name, standings in view_objects.scoreboard.round_standings.items %}
            <div id="group-point-{{round_name|cut:" "}}" class="tab-pane">
                <table class="table-striped">
                    <thead>
                    <tr>
                        <th class="column-number" width="10%">Rank</th>
                        <th class="column-text" width="75%">Group</th>
                        <th class="column-number" width="15%">Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in standings.group_standings %}
                        <tr>
                            <td class="column-number" width="10%">{{ forloop.counter }}</td>
                            <td class="column-text" width="75%">{{ f.profile__team__group__name }}</td>
                            <td class="column-number" width="15%">{{ f.points }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>  
</div>
<script type="text/javascript">
$('#team-point-tab a:first').tab('show');
</script>
