{% load prize_tags %}
{% load markup %}

{% for prize in raffle.prizes %}
<tr>
    <td class="raffle-prize">
        <a href="#raffle-{{prize.title|slugify}}-description" onclick="toggleRafflePrize(event,  'raffle-{{prize.title|slugify}}-description')" >
            {{ prize.title }}
        </a>

        <div id="raffle-{{prize.title|slugify}}-description" class="prize-dialog modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
                <h3>{{prize.title}}</h3>
            </div>
            <div class="modal-body">
                {% if prize.image %}<img src="{{prize.image.url}}"/>{% endif %}
                {{ prize.description|markdown }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-widget" data-dismiss="modal">Close</a>
            </div>
        </div>
    </td>
    <td class="number">{{ prize.value|currency }}</td>
    <td class="number condensed-tickets">{{ prize.user_tickets }} / {{prize.total_tickets}}</td>
    <td class="number user-tickets">{{ prize.user_tickets }}</td>
    <td class="number total-tickets">{{ prize.total_tickets }}</td>
    <td class="number user-odds">{# {{prize|user_odds:user}} #}</td>
    <td class="ticket-add-remove">
        {% if raffle.tickets.available > 0 %}
            <form action="{% url raffle_add_ticket prize.id %}" method="POST">
                {% csrf_token %}
                <a class="enabled ticket-add circle" href="#"
                   onclick="$(this).parent().submit(); return false;">+1</a>
            </form>
        {% else %}
            <div class="disabled ticket-add circle">+1</div>
        {% endif %}
        {% if prize.user_tickets > 0 %}
        <form action="{% url raffle_remove_ticket prize.id %}" method="POST">
            {% csrf_token %}
            <a class="enabled ticket-remove circle" href="#"
               onclick="$(this).parent().submit(); return false;">-1</a>
        </form>
        {% else %}
        <div class="disabled ticket-remove circle">-1</div>
        {% endif %}
    </td>
</tr>
{% empty %}
<tr>There are no raffle prizes available for this round.</tr>
{% endfor %}

<script type='text/javascript'>
    $(".user-odds").each(function (index) {
        var total = $(this).prev();
        var userTickets = total.prev();
        var odds = 0;
        if (parseFloat(total.html()) > 0.0) {
            var odds = parseFloat(userTickets.html()) * 100.0 / parseFloat(total.html());
        }
        $(this).html(odds.toFixed(1).toString() + "%");
    });
    
    var toggleRafflePrize = function (event, name) {
    	var modalElement = $('#' + name);
        modalElement.css('margin-top', (modalElement.outerHeight() / 2) * -1);
        modalElement.modal('show');
    }
</script>
