{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load url from future %}
{% load admin_urls %}
{% load admin_static %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="/admin/raffle/raffleprize/">Raffle prizes</a>
        &rsaquo; Summary
    </div>
{% endblock %}

{% block content %}
    <div class="module">
        <b>Raffle winners:</b> <br/>
        {% for raffle in raffles %}
        {{ raffle.title }} ${{ raffle.value }} {{ raffle.winner.get_profile }} ({{ raffle.winner.first_name }} {{ raffle.winner.last_name}}) <br/>
        {% endfor %}
    </div>
{% endblock %}