@charset "UTF-8";
/* CSS Document */

/********************** news styles ******************************/

#news-members {
	margin-left: 5px;
}

ul {
  list-style: none;
}

#news-most-popular-actions p {
  text-align: center;
}

.content-box {	
	text-align: left;
}

.content-box table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	/*border-bottom: 1px solid #000;*/
}

.content-box th, .content-box td {
	padding: 4px;
} 

#news-members-list {
  list-style: none;
  margin: 0;
  margin-left: 5px;
  padding: 5px;
}

#news-members-list li {
  width: 75px;
  text-align: center;
  min-height: 80px;
  float: left;
}

#news-members-link {
  text-align: center;
  clear: both;
} 

@import "wall-post.less";

#my-commitments-contents p {
  text-align: center;
}
