{% with flot=view_objects.status__gchart %} 

<div class="content-box demi-widget">
    <div class="content-box-title"> 
    User Stats
    </div> 

    <div class="widget-content"> 
        <script  src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
          google.load('visualization', '1', {packages: ['corechart']});
        </script>

        <script type="text/javascript">

          function drawVisualization() {

              
           var graph_height = $('#backdrop').height()/2;
           var graph_width = $('#backdrop').width();

            {% for title, value in flot.data_sets.items %}
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable([
              
              ['x', '{{title}}'
              ],
              
                  {% for point in value.data %} 
                      ['{{point.x}}',   {{point.y}}],   
                  {% endfor %}
            ]);
          
            // Create and draw the visualization.
            new google.visualization.LineChart(document.getElementById('visualization{{forloop.counter}}')).
                draw(data, {
                            curveType: "none",
                            backgroundColor: 'none',
                            pointSize: 5,
                            width: graph_width, height: graph_height,
                            title: '{{title}}',
                            vaxis: {
                                    color: '{{xaxis_color}}',
                                    maxValue: 200,
                                    minValue: -5
                            },
                            haxis: {
                                    color: '{{xaxis_color}}'
                            }
                    }
                );
          {% endfor %}
          }  
              google.setOnLoadCallback(drawVisualization); 
        </script>
        <div id="backdrop" style="background-color: #fff;opacity: .8;width: 99.9%;">
        {% for title, value in flot.data_sets.items %}
            
            <div id="visualization{{forloop.counter}}" style="width: 100%; height: 225px;opacity:1;"></div>
           
        {% endfor %} 
        </div>
    </div>  
</div>
{% endwith %}
