{% load class_tags %}

<div class="modal-header">
  <h2>Introduction Video</h2>
</div>
<div id="setup-content modal-body">
    <p>Please watch this short video that explains the Kukui Cup competition and how to use this
        website. Pay close attention, because on the next screen you will be asked a question about
        the video to earn some more points!</p>


        <div id="help-video-box"> 
            <div id="help-video-content" class="content-box-contents video-container">
                <iframe id="player" type="text/html"
                        src="http://www.youtube.com/embed/T37kNTkZCrA?fs=1&hl=en_US&rel=0&enablejsapi=1"
                        frameborder="0"></iframe>
            </div>
        </div>
       <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "http://www.youtube.com/player_api?"+ new Date().getTime();
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
          player.addEventHandler("onStateChange","onPlayerStateChange");
      }

      // 5. The API calls this function when the player's state changes.
        function onPlayerStateChange(event) { 
            var state = "";
            switch (event.data) {
                case -1:
                    state = "unstarted";
                    break;
                case 0:
                    state = "end";
                    break;
                case 1:
                    state = "playing";
                    break;
                case 2:
                    state = "paused";
                    break;
                case 3:
                    state = "buffering";
                    break;
                case 5:
                    state = "cued";
                    break;
            }
            log_js_action("home", "setup-video", "video-" + state);
        }
 
    </script>

</div>
<div class="modal-footer">
  <div style="float: left">
      <button id="back" class="btn btn-primary" >
          <img src="{{ STATIC_URL}}/css/default/images/left.png" width="24" align="top">
          Back<br/>Profile Setup
      </button>
  </div>

  <div style="float:right">
      <button id="next" class="btn btn-primary" style="margin-bottom: 10px; text-align: right">Next
          <img src="{{ STATIC_URL}}/css/default/images/right.png" width="24" align="top">
          <br/>get your points!
      </button>
  </div>

  <div style="clear:both"></div>

    <div id="progressbar-header">
        <p>Introduction progress, points: {{ user.get_profile.points }}</p>
    </div>
    <div id="progressbar" class="progress">
        <div class="bar" style="width: 0%;">
        </div>
    </div>
  <script type="text/javascript">
      $(document).ready(function () {
        var s = 5.0/7.0*100 + "%";
        $(".bar").width(s);

          $("#back").button().click(function () {
              $(this).button("option", "disabled", true);
              $.get("{% url setup_profile %}?from=video", function (data) {
                  $("#ui-dialog-title-setup-dialog").html(data.title);
                  $("#setup-dialog").html(data.contents);
              });
          });

          $("#next").button().click(function () {
              $.get("{% url setup_question %}", function (data) {
                  $("#ui-dialog-title-setup-dialog").html(data.title);
                  $("#setup-dialog").html(data.contents); 
                  $('#points').html(data.points);
              });
          });
      });
  </script>
</div>
