<div class="modal-header">
  <h2>Introduction Complete</h2>
</div>
<div id="setup-content" class="modal-body">
    <p>Congratulations, you have finished the Kukui Cup introduction and
        earned <b>{{ user.get_profile.points }} points</b>! When you click the "Go home" button, you will
        be taken to your personalized Kukui Cup home page. Your home page connects you to your
        {{ TEAM_LABEL }}'s energy usage and standing in the competition, as well as additional activities you
        can perform to get more points.</p>

    <p>Your home page will contain your first set of quests. Follow the quests (as shown below) to
        learn more about the Kukui Cup and earn points and prizes.</p>
      <div style="margin-bottom: 10px; width: 100%; text-align: center">
      <!--start questbar-->
      <div class="quest-box">
          <div class="makahiki-box-title">
              <h3 id="quest-title" class="makahiki-box-title">Your Quests</h3> 
          </div>
          <div>
          <img class="quest-pad" src="{{ STATIC_URL}}images/spacer.png" width="20">
          {%  with DEFAULT_VIEW_OBJECTS.quests as quests %}
          {% if quests.user_quests or quests.available_quests %}
              {% include "quest_list.html" %}
          {% else %}
              <p style="text-align: center; width: 100%">There are no quests available at this time.  Please check back later!</p>
          {% endif %}
          {% endwith %}
          </div> 
      </div>

      <!--end questbar-->
  </div>
</div>
<div class="modal-footer"> 
  <div style="float: left">
      <button id="back" class="btn btn-primary" >
          <img src="{{ STATIC_URL}}images/left.png" width="24" align="top">
          Back
      </button>
  </div>

  <div style="float:right">
      <button id="gohome" class="btn btn-success" >
           <a class="white" href="{% url home_index %}">
           <img src="{{ STATIC_URL}}images/right.png" width="24" align="top"/>
           Go home
           </a>
      </button>
  </div>

  <div style="clear:both"></div>

  <div id="progressbar-header">
      <p>Introduction progress, points: {{ user.get_profile.points }}</p>
  </div>
  <div id="progressbar" class="progress">
      <div class="bar" style="width: 0%;">
      </div>
  </div>
  <script type="text/javascript">
      $(document).ready(function () {
          var s = 7.0/7.0*100 + "%";
        $(".bar").width(s);

          $("#back").button().click(function () {
              $(this).button("option", "disabled", true);
              $.get("{% url setup_question %}?from=complete", function (data) {
                  $("#ui-dialog-title-setup-dialog").html(data.title);
                  $("#setup-dialog").html(data.contents);
              });
          });

          $("#gohome").button().click(function() {
              $('#setup-dialog').modal('hide'); 
              location.reload();

            });
      });
  </script>
</div>
