<div id="wizard-fb-form" style="display: none">
  <p>
      {{ form.use_fb_photo }} Use your Facebook photo
  </p>
  <img src="http://graph.facebook.com/{{fb_id}}/picture"/>
  {{ form.facebook_photo }}
</div>

<div id="wizard-fb-login">
  <p id="profile-picture-fb-text">Or, to use your Facebook picture, click here to log in:</p>
  <fb:login-button size="large"
                   onlogin="Log.info('onlogin callback')">
    Login with Facebook
  </fb:login-button>
</div>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId  : {{FACEBOOK_APP_ID}},
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true,  // parse XFBML
      oauth: true, // enable OAuth 2.0
    });
    
    load();
  }
  
  var load = function() {
    if (typeof FB !== 'undefined') {
      // listen for and handle auth.statusChange events
      FB.Event.subscribe('auth.statusChange', function(response) {
        if (response.authResponse) {
          // user has auth'd your app and is logged into Facebook
          FB.api('/me', function(me){
            if (me.id) {
              var pictureUrl = "http://graph.facebook.com/" + me.id + "/picture";
              $("#wizard-fb-form img").attr("src", pictureUrl);
              $("#id_facebook_photo").attr("value", pictureUrl);
            }
          });

          $("#wizard-fb-form").fadeIn();
          $("#wizard-fb-login").fadeOut();
        }
      });

      FB.XFBML.parse();
    }
  }
  
  load();
   
</script>