<div id="wizard-fb-form" style="display: none">
  <p>
      {{ form.use_fb_photo }} Use your Facebook photo
  </p>
  <img src="http://graph.facebook.com/{{fb_id}}/picture"/>
  {{ form.facebook_photo }}
</div>

<div id="wizard-fb-login">
  <p id="profile-picture-fb-text">Or, to use your Facebook picture, click here to log in:</p>
  <fb:login-button style="display: block"
                   id="fb_login" length="long" perms="">
  </fb:login-button>
</div>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{FACEBOOK_APP_ID}}',
      channelUrl : '//' + window.location.hostname + '/facebook/channel',
      status     : true, 
      cookie     : true,
      xfbml      : true,
      oauth      : true,
    });

    // listen for and handle auth.statusChange events
    FB.Event.subscribe('auth.statusChange', function(response) {
      if (response.authResponse) {
        // user has auth'd your app and is logged into Facebook
        FB.api('/me', function(me){
          if (me.id) {
            var pictureUrl = "http://graph.facebook.com/" + me.id + "/picture";
            $("#wizard-fb-form img").attr("src", pictureUrl);
            $("#id_facebook_photo").attr("value", pictureUrl);
          }
        });

        $("#wizard-fb-form").fadeIn();
        $("#wizard-fb-login").fadeOut();
      }
    });

    // respond to clicks on the login and logout links
    document.getElementById('fb_login').addEventListener('click', function(){
      FB.login();
    });
  };
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "http://connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
   
   $(document).ajaxComplete(function(){
       try{
           FB.XFBML.parse(); 
       }catch(ex){}
   });
</script>