{% load avatar_tags %}
<div class="modal-header">
    <h2>Referral Bonus</h2>
</div>

<div class="modal-body">
    <div id="setup-content">
        <p>
            If a participant in the competition has referred you to the {{ CHALLENGE.name }},
            please enter the email address they use for the competition here.
            If you complete the setup and earn <b>at least {{ active_threshold_points }} points</b>,
            you will both be awarded <b>{{ referral_points }} extra points</b>!
        </p>
        <form id="setup-referrer-form" class="well" action="{% url setup_referral %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
</div><!--end modal body-->

<div class="modal-footer">
    <div style="float: left">
        <button id="back" class="btn btn-primary" style="text-align: left">
            <img src="{{ STATIC_URL}}images/left.png" width="24" align="top">
            Back<br/>Terms &amp; Conditions
        </button>
    </div>
    <div style="float:right">
        <button id="next" class="btn btn-primary" style="text-align: right">Next
            <img src="{{ STATIC_URL}}images/right.png" width="24" align="top">
            <br/>Profile Setup
        </button>
    </div>
    <div style="clear:both"></div>

    <div id="progressbar-header">
        <p>Introduction progress, points: {{ user.get_profile.points }}</p>
    </div>
    <div id="progressbar" class="progress">
        <div class="bar" style="width: 0%;">
        </div>
    </div>
</div><!--end modal footer-->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        fixForms();
        var s = 3.0/7.0*100 + "%";
        $(".bar").width(s);

        $("#decline").button();

        $("#back").button().click(function () {
            $(this).button("option", "disabled", true);
            $.get("{% url setup_terms %}?from=referral", function (data) {
                $("#ui-dialog-title-setup-dialog").html(data.title);
                $("#setup-dialog").html(data.contents);
            });
        });

        $("#next").button().click(function () {
            $(this).button("option", "disabled", true);
            $.post("{% url setup_referral %}", $('#setup-referrer-form').serialize(), function (data) {
                $("#ui-dialog-title-setup-dialog").html(data.title);
                $("#setup-dialog").html(data.contents);
            });
        });
    });
</script>
