<script src="{{STATIC_URL}}js/canopy.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/com.iskitz.ajile.js?mvcoff,mvcshareoff,refresh"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/org.wattdepot.gdata.GDataLoader.js"></script>

{% with viz=view_objects.canopy_viz.viz all_lounges=view_objects.canopy_viz.all_lounges group_lounges=view_objects.canopy_viz.group_lounges all_groups=view_objects.canopy_viz.all_groups %}

<div class="content-box">
    <div class="content-box-title">
        Advanced Visualizations
        <a href="#" style="float: right">
            <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20" align="center"
                 title="Click to get help about this window"
                 onclick="toggleHelp('widget', 'advanced-visualizations'); return false;"
                    /></a>
    </div>
    <div class="content-box-contents">
        <ul class="unstyled canopy-viz-list">

        <li {% if viz == '1' %}
            class="selected"
            {% endif %}
           >
            <h3><a href="/advanced?viz=1">Hot Spots</a></h3>
        </li>
        <li>|</li>
        <li {% if viz == '2' %}
            class="selected"
            {% endif %}
           >
            <h3><a href="/advanced?viz=2">Heat Map</a></h3>
        </li>
        <li>|</li>
        <li {% if viz == '3' %}
            class="selected"
            {% endif %}
           >
            <h3><a href="/advanced?viz=3">Line Graph</a></h3>
        </li>
        <li>|</li>
        <li {% if viz == '4' %}
            class="selected"
            {% endif %}
           >
            <h3><a href="/advanced?viz=4">Power Meters</a></h3>
        </li>
        </ul>

        <div>
            {% if viz == None %}
                <div style='margin-left: 250px; width: 500px; text-align:left;'>
                    "You can't manage what you can't measure".
                    In the canopy, you can work with several advanced visualizations to measure the live
                    energy data in the groups.
                    <p/>
                    <b>Click on the link above to see the advanced energy data visualizations.</b>
                </div>
            {% endif %}

            {% if viz == '1' %}
                {% include "hot_spots.html" %}
            {% endif %}

            {% if viz == '2' %}
                {% include "heat_map.html" %}
            {% endif %}

            {% if viz == '3' %}
                {% include "wattdepot_visualizer.html" %}
            {% endif %}

            {% if viz == '4' %}
                {% include "power_meters.html" %}
            {% endif %}

        </div>
    </div>
</div>
{% endwith %}

<script type="text/javascript">

    // Use jQuery via jQuery(...)
    jQuery(document).ready(function () {

        jQuery("#canopy-viz-list li").click(function () {

            if (!jQuery(this).hasClass("selected")) {
                jQuery("#canopy-viz-list li").removeClass("selected");
                jQuery(this).addClass("selected");
            }

            //return false;
        });

    });

</script>