{% with wallpost=view_objects.wallpost__system_wallpost %}
<div class="content-box">
    <div>
        <div class="content-box-title">
            {{ wallpost.system_title }}
            <a href="#" style="float: right">
                <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                     align="center"
                     title="Click to get help about this window"
                     onclick="toggleHelp(event, 'widget', 'news-feed'); return false;"
                        /></a>
        </div>
        <div class="content-box-content wallpost-content">

            </br>
            <ul class="system-wall-posts">
                {% include "widgets/wallpost/system_wallpost/templates/system_news_posts.html" %}
            </ul>
            {% if not wallpost.posts %}
                <p id="wall-no-posts" style="padding: 7px;">There are no posts yet!</p>
            {% endif %}
        </div>
    </div>
</div>

{% endwith %}
