{% load markup %}
<div id="prizes-carousel" class="span12">

{% for name, prizes in view_objects.prizes.prizes.items reversed%}
{# note: This is NOT an extraneous div! These classes cannot go into the table! #}

<div class="item {% if name != CURRENT_ROUND_INFO.name %}hide{% endif %}">
    <table class="table table-striped set-width-outer-width">
        <thead>
            <tr>
                <th colspan=2 class="prize-round-name">{{ name }} prizes</th>
            </tr>
            <tr>
               <th>Prize</th>
               <th>Criteria</th>
            </tr>
        </thead>
        <tbody>
        {% for prize in prizes %}
        <tr>
            <td class="prize">
                <a id="{{name|slugify}}-{{prize.title|slugify}}-link"
                   onClick="togglePrize(event, '{{name|slugify}}', '{{prize.title|slugify}}'); return false;"
                        href="#">
                    {% if prize.image %}<img src="{{prize.image.url}}" width="100"/>{% endif %}
                    {{ prize.title }}
                </a>
            </td>
            <td>
               {{ prize.short_description|markdown }} <br/>
               {% if prize.winner %}
                   {% if prize.winner.points %}
                       Winner: {{ prize.winner }}
                   {% else %}
                       Winner: {{ prize.winner|safe }}
                   {% endif %}
               {% else %}
                   {% if prize.current_leader.points %}
                       Current leader: {{ prize.current_leader }}
                   {% else %}
                       Current leader: {{ prize.current_leader|safe }}
                   {% endif %}
               {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
</div>
{% for name, prizes in view_objects.prizes.prizes.items %}
    {% for prize in prizes %}
       <!-- Modal Dialog stuff -->
       <div id="{{name|slugify}}-{{prize.title|slugify}}" class="modal hide fade">
           <div class="modal-header">
               <a class="close" data-dismiss="modal">x</a>
               <h3>{{name}}: {{prize.title}}</h3>
           </div>
           <div class="modal-body">
               {% if prize.image %}<img src="{{prize.image.url}}"/>{% endif %}
               {{ prize.long_description|markdown }}
           </div>
           <div class="modal-footer">
               <a href="#" class="btn" data-dismiss="modal">Close</a>
           </div>
        </div>
    {% endfor %}
{% endfor %}
<center>
    <div id="nav" class="nav nav-page-list"> 
    {% for i in range  %} 
        <a class="" href="#">{{i}}</a> 
    {% endfor %}
    </div> 
</center>
