{% with all_lounges=view_objects.viz_power_meters.all_lounges group_lounges=view_objects.viz_power_meters.group_lounges group_lounges_count=view_objects.viz_power_meters.group_lounges_count %}

<div id="PowerMeter">
    <center><b>Power Meters</b></center>
</div>

<p/>

    <div class="row-fluid">
    {% for team in group_lounges %}
        <div style="min-width:80px;display:block;float:left;margin-left:10px;">
            <div id="loading_{{ forloop.counter }}"><img src="{{STATIC_URL}}images/spinner.gif"/></div>

            <div id="visualization_{{ forloop.counter }}"></div>
            <div>
                <select id='lounge_{{ forloop.counter }}'
                        onchange="updateLounge('{{ forloop.counter }}');">
                    {% for lounge in all_lounges %}
                        <option {% if team == lounge or team == lounge.name %}
                            selected {% endif %}
                            value='{{ lounge.name}}'>{{ lounge.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endfor %}
    </div>

<div>
    <p>
        This visualization shows the real time power meters of {{ group_lounges_count }} {{ TEAM_LABEL }}.
        Note that the middle of each gauge represents the typical power for this {{ TEAM_LABEL }} at this time of day.
    <p/>
    You can use this visualization to look at the real time power consumption of any {{ TEAM_LABEL }} and
    compare the usages of {{ group_lounges_count }} {{ TEAM_LABEL }} at a time.

</div>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/org.wattdepot.makahiki.PowerMeter.js"></script>

<script type="text/javascript">
    // Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
    var viz_powermeters = new Array();
    (function () {
        for (i = 1; i <= {{ group_lounges_count }}; i++)
        {
            viz_powermeters[i] = drawOne(i, i-1);
        }
    })();

    function drawOne(id, selected) {
        var refreshInterval = 15;
        var server_url = "{{ CHALLENGE.wattdepot_server_url }}";
        var selected = document.getElementById("lounge_" + id).selectedIndex
        var source = document.getElementById("lounge_" + id).options[selected].value;
        var options = {
            source: source,
            width: 200,
            powerRange: 2000};

        document.getElementById('loading_' + id).style.display = 'none';

        return Makahiki_PowerMeter( server_url,
                source,
                refreshInterval,
                'visualization_' + id,
                options);
    }

    function updateLounge(id) {
        document.getElementById("visualization_" + id).innerHTML = "";
        document.getElementById("loading_" + id).style.display = '';
        selected = document.getElementById("lounge_" + id).selectedIndex
        source = document.getElementById("lounge_" + id).options[selected].value;

        viz_powermeters[id](source);
        document.getElementById('loading_' + id).style.display = 'none';

    }

</script>
{% endwith %}
